<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
  </configSections>
  <agilixSessionManager>
    <connection url="http://192.168.78.60/dlap.ashx"></connection>
    <annonymous id="122" username="root/annonymous" password="Password1"></annonymous>
  </agilixSessionManager>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <!-- Lifetime manager types -->
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>

    <!-- Agilix Services -->
    <alias alias="IUserService" type="Bfw.Agilix.ServiceContracts.IUserService, Bfw.Agilix.ServiceContracts"/>
    <alias alias="UserService" type="Bfw.Agilix.Services.UserService, Bfw.Agilix.Services"/>
    <alias alias="IItemService" type="Bfw.Agilix.ServiceContracts.IItemService, Bfw.Agilix.ServiceContracts"/>
    <alias alias="ItemService" type="Bfw.Agilix.Services.ItemService, Bfw.Agilix.Services"/>
    <alias alias="IAnnouncementService" type="Bfw.Agilix.ServiceContracts.IAnnouncementService, Bfw.Agilix.ServiceContracts"/>
    <alias alias="AnnouncementService" type="Bfw.Agilix.Services.AnnouncementService, Bfw.Agilix.Services"/>
    <alias alias="IDiscussionService" type="Bfw.Agilix.ServiceContracts.IDiscussionService, Bfw.Agilix.ServiceContracts"/>
    <alias alias="DiscussionService" type="Bfw.Agilix.Services.DiscussionService, Bfw.Agilix.Services"/>
    <alias alias="IGradeService" type="Bfw.Agilix.ServiceContracts.IGradeService, Bfw.Agilix.ServiceContracts"/>
    <alias alias="GradeService" type="Bfw.Agilix.Services.GradeService, Bfw.Agilix.Services"/>

    <!-- Agilix Components -->
    <alias alias="ISessionManager" type="Bfw.Agilix.Dlap.Session.ISessionManager, Bfw.Agilix.Dlap"/>
    <alias alias="SessionManager" type="Bfw.Agilix.Dlap.Components.Session.ThreadSessionManager, Bfw.Agilix.Dlap.Components"/>

    <!-- Business Layer Services -->
    <alias alias="IBusinessContext" type="Bfw.PX.Biz.ServiceContracts.IBusinessContext, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="BusinessContext" type="Bfw.PX.PXPub.Components.BusinessContext, Bfw.PX.PXPub.Components"/>
    <alias alias="IUserActions" type="Bfw.PX.Biz.ServiceContracts.IUserActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="UserActions" type="Bfw.PX.Biz.Services.UserActions, Bfw.PX.Biz.Services"/>
    <alias alias="INavigationActions" type="Bfw.PX.Biz.ServiceContracts.INavigationActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="NavigationActions" type="Bfw.PX.Biz.Services.NavigationActions, Bfw.PX.Biz.Services"/>
    <alias alias="IAssignmentActions" type="Bfw.PX.Biz.ServiceContracts.IAssignmentActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="AssignmentActions" type="Bfw.PX.Biz.Services.AssignmentActions, Bfw.PX.Biz.Services"/>
    <alias alias="IAnnouncementActions" type="Bfw.PX.Biz.ServiceContracts.IAnnouncementActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="AnnouncementActions" type="Bfw.PX.Biz.Services.AnnouncementActions, Bfw.PX.Biz.Services"/>
    <alias alias="IDiscussionActions" type="Bfw.PX.Biz.ServiceContracts.IDiscussionActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="DiscussionActions" type="Bfw.PX.Biz.Services.DiscussionActions, Bfw.PX.Biz.Services"/>
    <alias alias="IContentActions" type="Bfw.PX.Biz.ServiceContracts.IContentActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="ContentActions" type="Bfw.PX.Biz.Services.ContentActions, Bfw.PX.Biz.Services"/>
    <alias alias="IGradeActions" type="Bfw.PX.Biz.ServiceContracts.IGradeActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="GradeActions" type="Bfw.PX.Biz.Services.GradeActions, Bfw.PX.Biz.Services"/>
    <alias alias="ICourseActions" type="Bfw.PX.Biz.ServiceContracts.ICourseActions, Bfw.PX.Biz.ServiceContracts"/>
    <alias alias="CourseActions" type="Bfw.PX.Biz.Services.CourseActions, Bfw.PX.Biz.Services"/>

    <container name="unity">
      <!-- Agilix Services -->
      <register type="IUserService" mapTo="UserService">
        <lifetime type="singleton"/>
      </register>
      <register type="IItemService" mapTo="ItemService">
        <lifetime type="singleton"/>
      </register>
      <register type="IAnnouncementService" mapTo="AnnouncementService">
        <lifetime type="singleton"/>
      </register>
      <register type="IDiscussionService" mapTo="DiscussionService">
        <lifetime type="singleton"/>
      </register>
      <register type="IGradeService" mapTo="GradeService">
        <lifetime type="singleton"/>
      </register>
      <!-- Agilix Components -->
      <register type="ISessionManager" mapTo="SessionManager">
        <lifetime type="singleton"/>
      </register>
      <!-- Business Layer Services -->
      <register type="IBusinessContext" mapTo="BusinessContext">
        <lifetime type="singleton"/>
      </register>
      <register type="IUserActions" mapTo="UserActions">
        <lifetime type="singleton"/>
      </register>
      <register type="INavigationActions" mapTo="NavigationActions">
        <lifetime type="singleton"/>
      </register>
      <register type="IAssignmentActions" mapTo="AssignmentActions">
        <lifetime type="singleton"/>
      </register>
      <register type="IAnnouncementActions" mapTo="AnnouncementActions">
        <lifetime type="singleton"/>
      </register>
      <register type="IDiscussionActions" mapTo="DiscussionActions">
        <lifetime type="singleton"/>
      </register>
      <register type="IContentActions" mapTo="ContentActions">
        <lifetime type="singleton"/>
      </register>
      <register type="IGradeActions" mapTo="GradeActions">
        <lifetime type="singleton"/>
      </register>
      <register type="ICourseActions" mapTo="CourseActions">
        <lifetime type="singleton"/>
      </register>      
    </container>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
