<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bfw.PX.Notes.Properties.Settings.PXNotesConnectionString" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Bfw.PX.Notes.Properties.Settings.PXDataConnectionString" connectionString="Data Source=localhost;Initial Catalog=PXData;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="PXData" connectionString="Data Source=localhost;Initial Catalog=PXData;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
