
@{
    ViewBag.Title = "Index";
}

<h2>Compare</h2>

<h2>Metadata config</h2>

<div id="notifications-container" class='notifications top-center center notifications-displair'> </div>

<div id="compare-container"> </div>

@section scripts
{
  
    <script src="../../Scripts/app/components/common/loader.js"></script>
    <script src="../../Scripts/app/async/asyncManager.js"></script>
    <script src="../../Scripts/app/async/notificationManager.js"></script>
    
    <script src="../../Scripts/app/components/compare/titlesComparerRoot.js"></script>


    <script>
        var compareContainer = $('#compare-container')[0];
        asyncManager.startWait(compareContainer);

        notificationManager.htmlContainer = $('#notifications-container')[0];

        var options = {};
        
 
    </script>
}