
@{
    ViewBag.Title = "Index";
}

 

<div id="notifications-container" class='notifications top-center center notifications-displair'> </div>

<div id="compare-container"> </div>

@section scripts
{
     <script src="../../Scripts/app/common/collectionHelper.js"></script>
    
    <script src="../../Scripts/app/components/common/sharedButton.js"></script>
    <script src="../../Scripts/app/components/common/loader.js"></script>
    <script src="../../Scripts/app/components/common/singleSelectSelector.js"></script>
    <script src="../../Scripts/app/components/common/paginator.js"></script>
    <script src="../../Scripts/app/components/common/expandButton.js"></script>
    
    <script src="../../Scripts/app/components/questions/QuestionPreviewContent.js"></script>

    <script src="../../Scripts/app/async/asyncManager.js"></script>
    <script src="../../Scripts/app/async/notificationManager.js"></script>
    
    <script src="../../Scripts/app/dataAccess/compareTitlesDataManager.js"></script>
    
    <script src="../../Scripts/app/components/metadata/metadataCourseSelector.js"></script>
    
    <script src="../../Scripts/app/components/compare/questionContend.js"></script>
    <script src="../../Scripts/app/components/compare/comparedQuestion.js"></script>
    <script src="../../Scripts/app/components/compare/questionComparerList.js"></script>
    <script src="../../Scripts/app/components/compare/courseComparerRoot.js"></script>
    <script src="../../Scripts/app/components/compare/courseCompareSelector.js"></script>
    



    <script>
        var compareContainer = $('#compare-container')[0];
        notificationManager.htmlContainer = $('#notifications-container')[0];
        
        asyncManager.startWait(compareContainer);

        var courseList = compareTitlesDataManager.getAvailableCourses();

        var options = {};

        courseList.done(function (response) {
            asyncManager.page = React.renderComponent(
                CourseComparerRoot({
                    availableCourses: response,
                    options: options
                }, " "),
                compareContainer);
            })
        .fail(function (error) {
                  console.error("compareTitlesDataManager.getAvailableCourses:", error);
        })
        .always(function () {
                  asyncManager.stopWait();
        });

       
        
 
    </script>
}