.gradebook-menuitem-group-by, .gradebook-menuitem-show-nongradable, .gradebook-menuitem-show-lesson-details
{
    display: none;
}

.gradebook-visible-columns-dialog-start-checkbox, .gradebook-visible-columns-dialog-end-checkbox
{
    display: none;
}

.gradebook-visible-footers-dialog-max-points-checkbox, .gradebook-visible-footers-dialog-duedate-checkbox, .gradebook-visible-footers-dialog-resultdate-checkbox, .gradebook-visible-footers-access-date-section
{
    display: none;
}

.item-summary-general-grading-scale, .item-summary-general-score-visibility-date, .item-summary-stop-accepting-submission-btn, .item-summary-general-view-edit-links
{
    display: none;
}

.gradebook-student-grades-breadcrumb, .gradebook-student-activities-breadcrumb
{
    display: none;
}

.gradebook-student-grades-item-nolink
{
    cursor: default;
}

.gradebook-render-user-profile-picture, .grades-header-profile-picture
{
    display: none;
}

.gradebook-student-grades-target-enddate
{
    display: none;
}

div[id^="grade_header_mail"].grade_mail, div[id^="grade_header_calculator"].grade_calculator
{
    display: none;
}


.add-student-btn {
    display: none;
}

@media print {
    .printscroll .content {
        page-break-after: always;
    }
}

#message-tree .message_viewing_area {
    margin-left: 6px;
}

.cq_hts_masterdiv em strong
{
	font-style: italic !important;
}

.cq_hts_masterdiv strong em
{
	font-weight: bolder !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) { /* webkit only PX-9754 */
  #gradebook_FrameContent .gb-list-head,
  #gradebook_FrameContent .gbr-head {
    width: 100%;
    height: 26px !important;
    padding: 0 !important;
  }
  #gradebook_FrameContent  .gb-list-head td:first-child + td div a {
    display: block;
  }
  #gradebook_FrameContent #leftPanel_FrameContent .x-panel-body.x-panel-body-noheader {
    width: 100% !important;
  }
}

.cq_hts_hint p,
.cq_hts_feedback p,
.cq_hts_incorrect_feedback p
{
	padding: 5px 0px 5px 0px !important;
	margin: 0px;
}

.cq_hts_hint p
{
	background-color: #FAEBD7;
}

.cq_hts_feedback p
{
	background-color:#E1EFD6;
}

.cq_hts_incorrect_feedback p
{
	background-color:#FFCCCC
}

.cq_hts_masterdiv>.cq_hts_step>p
{
	margin-top:0px;	
}

.examFeedback
{
	background-color:#B0E0E6;
}

.cq_hts_masterdiv td,
.cq_hts_masterdiv th
 {
    padding: 3px;
}

#qHeader_quizeditorcomponent
{
     display: none; 
} 

div[id^=assessmentframefooterrow] > table td:nth-child(4) 
{
     display: none;
}

div#answer_quizeditorcomponent_0 div.x-form-field-wrap.x-form-field-trigger-wrap.x-column 
{
    width: 500px !important;
}

div#answer_quizeditorcomponent_0 div.x-form-field-wrap.x-form-field-trigger-wrap.x-column > ul > li:first-child > input
{
    width: 500px !important;
}