body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.hover {
    background: lightgray;
}

.preview-collapsed {
    display: none;
}

.add-question-action {
    float: right;
}

.question-grid-item {
    margin: 10px 0 10px 10px;
}

.questionFilter {
    margin: 25px 0 10px 0;
}

.order-disabled {
    display: none;
}

.header-caption:hover {
    color: blue;
    cursor: pointer;
}

.actions-container {
    min-height: 34px;
}

.titles-expander {
    cursor: pointer;
}

.title-expander {
    cursor: pointer;
}

.delete-button {
    float: right;
}

.delete-button:hover {
    color: blue;
    cursor: pointer;
}

.add-column-item {
     cursor: pointer;
}

.add-column-button {
    cursor: pointer;
}

.add-column-container {
      /*float: right;*/ 
}

.add-columns-message {
    margin: 0 0 10px 10px;
}

.info-message {
    font-weight: bold;
}

.loader-curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5)
   
}

.loader-spinner {
    position: fixed;
    top: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
     z-index: 98;
     background: url("../Content/img/spinning.gif");
    -ms-background-size: 100%;
    background-size: 100%;
}


.cell-menu-holder {
    width: 32px;
    float: right;
    vert-align: top;
}

.menu-show {
    display: block !important;
}

.edit-field-item {
     cursor: pointer;
}
.clear {
    clear: both;
}
 
.area-editor {
    max-width: 500px;
    min-width: 500px;
    margin-bottom: 7px;

}

.note-form > .modal-footer {
    padding-right: 0;
 

}



.note {
    padding-left: 22px;
    margin-bottom: 7px
  
}

.note-body {
     border: 1px solid #000000;
     padding: 4px;
     float: right;
     width: 500px;
}
.note-menu {
    float: right;
}

.note-text {
    float: left;
   
}

.note-form {
   padding-right: 0;
    width: 535px;
}

.flag {
    float: left;
    padding-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.glyphicon-flag {
    font-size: 20px;
    opacity: 0.25;
}

.flagged .glyphicon-flag {
    opacity: 1;
}

.text-editor-container {
    margin-left: -6px;
    position: absolute !important;
    width: 110px;
    z-index: 200;
}

.main-item {
    font-weight: bold;
}
#questionEditorModal > .modal-dialog {
    width: 1000px;

}

#questionEditorModal .modal-body {
     height: 800px;
     overflow-y: auto;
} 

.tab-body {
    margin-top: 20px;
    font-size: 20px;
}

.tab-body input:not([type="radio"]),select, textarea {
    max-width: 100%;
    width: 958px;
}

.tab-body input[type="radio"] {
    float: none !important; 
    margin-left: 0 !important;
    margin-right: 20px;
}

.tab-body textarea{
    max-height: 200px;
    min-height: 50px;
    font-size: 20px;
}
.tabs-header {
    float: left;
}

.tabs-header ul {
    width: 100%;
}

.header-buttons {
    float: right;

}

.header-buttons button{
   margin-left: 20px;
}

.editor-header {
    float: left;
    width: 100%;
}

.header-buttons .run-question {
     margin-right: 200px;
}

.metadata-field-editor {
    margin-bottom: 30px;
}

.metadata-field-editor label {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cell-edit-mode {
    background: gray;
}

.question-selected {
    font-weight: bold;
}

.deselect-button {
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.bulk-operation-bar {
    background: antiquewhite;
}

.bulk-operation-bar-table {
    width: 100%;
}

.bulk-operation-cell {
    width: 200px;
}

.bulk-operation-item {
    float: left;
    margin: 0 15px 0 15px
}

.expand-button {
   cursor: pointer;
}

.chosen-single, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: 30px !important;
}


.iframe-waiting {
    width: 100%;
    height: 705px;
    text-align: center;
    vertical-align: middle;
   background: url("../Content/img/spinning.gif") no-repeat;
   background-position: center center;  
}


.tab-body iframe {
    width: 100%;
    height: 705px;
    display: none;
}

.questionFilterItemBase {
    width: 250px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
    border: black 1px solid;
    vertical-align: top;
}

.filter-header {
    margin: 0 0 5px 0;
    border-bottom: black 1px solid;
}

.filter-closer {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

.question-card-template h1{
     font-size: 24px !important;
}

.question-card-template div{
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
}

.question-card-template {
    float: left;
}
#title-container {
    margin: 20px 0px 0px 0px;
}

.title-item {
    margin: 5px 0px 5px 5px;
}

.chapters-container {
    padding: 3px 0px 3px 25px;
}

.title-link {
    font-weight: bold;
    text-decoration: underline;
}

.chapter-link {
    text-decoration: underline;
}

.icon-shared-to {
    background-image: url("../Content/img/shared-to.png");
    background-position: center center;
    width: 24px;
    height: 21px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1px;
}

.icon-shared-from {
    background-image: url("../Content/img/shared-from.png");
    background-position: center center;
    width: 24px;
    height: 21px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1px;
}

.custom-btn:hover .icon-shared-from {
    background-image: url("../Content/img/unshare.png") !important;
}

.custom-btn {
    padding: 0 !important;
}
