body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.hover {
    background: lightgray;
}

.preview-collapsed {
    display: none;
}



.add-question-action {
    float: right;
}

.question-grid-item {
    margin: 10px 0 10px 10px;
}

.questionFilter {
    margin: 25px 0 10px 0;
}

.order-disabled {
    display: none;
}

.header-caption:hover {
    color: blue;
    cursor: pointer;
}

.actions-container {
    min-height: 34px;
}

.titles-expander {
    cursor: pointer;
}

.title-expander {
    cursor: pointer;
}

.delete-button {
    float: right;
}

.delete-button:hover {
    color: blue;
    cursor: pointer;
}

.header-caption.seq {
   padding-right: 5px;
}

.delete-button.seq {
    width: 10px;
}

.add-column-item {
     cursor: pointer;
}

.add-column-button {
    cursor: pointer;
}

.add-column-container {
      /*float: right;*/ 
}

.add-columns-message {
    margin: 0 0 10px 10px;
}

.info-message {
    font-weight: bold;
}

.loader-curtain {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5)
   
}

.loader-spinner {
    position: fixed;
    top: 50%;
    right: 50%;
    width: 50px;
    height: 50px;
     z-index: 98;
     background: url("../Content/img/spinning.gif");
    -ms-background-size: 100%;
    background-size: 100%;
}


.cell-menu-holder {
    width: 32px;
    float: right;
    vert-align: top;
}

.menu-show {
    display: block !important;
}

.edit-field-item {
     cursor: pointer;
}
.clear {
    clear: both;
}
 
.area-editor {
    max-width: 500px;
    min-width: 500px;
    margin-bottom: 7px;

}

/* Notes editor styles*/

.note-form > .modal-footer {
    padding-right: 0;
 

}



.note {
    padding-left: 22px;
    margin-bottom: 7px
  
}

.note-body {
     border: 1px solid #000000;
     padding: 4px;
     float: right;
     width: 500px;
}
.note-menu {
    float: right;
}

.note-text {
    float: left;
   
}

.note-form {
   padding-right: 0;
    width: 535px;
}

.flag {
    float: left;
    padding-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.glyphicon-flag {
    font-size: 20px;
    opacity: 0.25;
}

.flagged.glyphicon-flag {
    opacity: 1;
}

.text-editor-container {
    margin-left: -6px;
    position: absolute !important;
    width: 110px;
    z-index: 200;
}

.main-item {
    font-weight: bold;
}

/* Question Editor Style*/
#questionEditorModal > .modal-dialog {
    width: 1000px;

}

#questionEditorModal .modal-body {
     height: 870px;
} 

#editInPlace .modal-body {
    height: auto !important;
}

#notificationDialog .modal-body {
    height: auto !important;
}

#questionEditorModal #metadata {
    height: 715px;
    width: 975px;
} 

#questionEditorModal #body {
    width: 975px;
} 

.top-buttons-container {
    padding: 0px 5px 8px 10px;
    margin: 0px 15px 10px 0px;
    text-align: right;
    border-bottom: 1px solid #e5e5e5;
}

.top-buttons-container .btn + .btn {
   margin-bottom: 0;
   margin-left: 5px;
}

#questionEditorModal #metadata .tab-body .local.wide .body-container {
     height: 611px;
     overflow-y: auto;
     width: 977px;
     border-top: #dcdcdc 1px solid;
} 

#questionEditorModal #metadata .tab-body .local .body-container {
     height: 700px;
     overflow-y: auto;
     width: 977px;
} 

#questionEditorModal #metadata .tab-body .local.with-notification .body-container {
     height: 650px !important;
      width: 977px;
} 




.tab-body {
    font-size: 20px;
}


.tab-body.wide input:not([type="radio"]),select {
    max-width: 100%;
    width: 428px;
    float: left;
    position: relative;
    z-index: 1;
}

.tab-body input:not([type="radio"]),select {
    max-width: 100%;
    width: 958px;
}

.tab-body textarea {
     max-width: 100%;
     width: 958px!important;
    
}

.overide-controls {
    padding-top: 50px;
    float: left;
}

.overide-controls div {
    height: 50px;
    height: 100px;
    font-size: 15px;
    height: 100px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 42px;
    }

.metadata-info-label {
   width: 428px;
 /*   color: #000000 !important;
  text-align: left !important; */
    margin-bottom: 10px !important;
    display: inline-block !important;
    line-height: 1.3 !important;
}

.current-values-view {
    font-size: 15px !important;
    float: left;
    margin-bottom: 10px;
    margin-right: 5px;
}

.current-values-view.learning-objectives {
    white-space: normal !important;
    text-align: left !important;
}

.local {
    width: 956px;  
}

.local.wide {
    float: left;
}

.cell.shared {
    height: 100%;
   
}

.cell.shared.unique {
     height: 100%;
     width: 528px !important;
}

.cell.shared.unique span {
     font-size: 0.67em !important;
     font-style: italic;
}

.shared-field-menu {
    position: relative;
    text-align: right;
    float: right;
    border: 1px #dcdcdc solid;
    padding: 7px;
    border-top: none;
    border-radius:0  0  0.4em  0.4em;
    margin-top: -4px;
    z-index: 0;
}

.shared-validator {
    float: right;
    font-size: 12px !important;
    padding-top: 4px;
    padding-right: 10px;
}

.shared-validator.red {
    color: red;
}

input.red-border, textarea.red-border {
    border: 1px red solid;
}

.shared-menu-container {
    float: right;
    font-size: 7px !important;
}


.local.wide .cell {
   width: 428px;
    
}

.local.wide .chosen-container .chosen-results {
    margin: 0 -1px 4px 0 !important;
}

@-moz-document url-prefix() {

    .local.wide .chosen-container .chosen-results {
    margin: 0 4px 4px 0 !important;
    }   
   
}

.local.wide textarea {
    width: 428px !important;
}

.override-control {
     float: left;
    margin-bottom: -50px;
}

input.disabled, textarea.disabled {
    background-color: #dcdcdc;
    color: #808080;
}


.local .cell {
    width: 956px;
}

.editor-tabs .tab-body .modal-footer {
    float: left;
    width: 100%;
    margin:0;
    padding-top: 7px;
}


.cell {
    display: table-cell;
}

.local .row {
    margin: 0 !important;
}

.local .cell.control {
    width: 100px;
    padding-top: 20px;
    padding-left: 10px;
    font-size: 15px !important;
    text-align: center;
} 


.switch-wrapper .switch-button-background {
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 3px;  
}

.row.footer {
    text-align: right;
    border-top: #dcdcdc;
}



.tab-body input[type="radio"] {
    float: none !important; 
    margin-left: 0 !important;
    margin-right: 20px;
}

.tab-body textarea{
    max-height: 200px;
    min-height: 50px;
    font-size: 20px;
}
.tabs-header {
    float: left;
}

.tabs-header ul {
    width: 100%;
}

.tab-pane {
    padding-top: 9px;
}

.header-buttons {
    float: right;

}

.header-buttons button{
   margin-left: 20px;
}

.editor-header {
    float: left;
    width: 100%;
}



.metadata-field-editor {
    margin-bottom: 30px;
    clear: both;
}

.metadata-field-editor label {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cell-edit-mode {
    background: gray;
}

/* Bulk operations*/
.question-selected {
    font-weight: bold;
} 

.question-draft {
   background: lightcyan
}

.question-table.table > tbody > tr > td.grouped-cell, 
.question-table.table > tbody > tr > td.grouped-cell-empty,
.question-table.table > thead > tr > th.grouped-header {
    padding: 2px;
}

.grouped-cell {
    background: grey;
}

.draft-label {
    margin: 0 0 0 4px;
}

.grouped-header {
    width: 3px;
}

.deselect-button {
    font-weight: bold;
    float: right;
    cursor: pointer;
}

.bulk-operation-bar {
    background: antiquewhite;
}

.bulk-operation-bar-table {
    width: 100%;
}

.bulk-operation-cell {
    width: 300px;
}

.bulk-operation-item {
    float: left;
    margin: 0 15px 0 15px
}

.bulk-operation-sharing {
    text-align: right;
}

.bulk-operation-sharing button {
    margin-left: 7px;
}






.expand-button {
   cursor: pointer;
}

.chosen-single, .chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    height: 30px !important;
}



.iframe.waiting {
    width: 100%;
    height: 650px !important;
    z-index: 1;
    position: fixed;
   
}

.waiting {
    height: 623px !important;
   text-align: center;
   vertical-align: middle;
   background: url("../Content/img/spinning.gif") no-repeat;
   background-position: center center;  
}

.waiting.small {
     
    height: 20px !important;
    margin-top: -20px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
}


.tab-body iframe {
    width: 98%;
    height: 693px;
    overflow: hidden;
    border: 0;

}

#quizeditorcomponent.hts{
    z-index: 2;
    width: 97%;
    position: fixed;
}

#quizeditorcomponent.hts{
    
 background:rgba(221, 221, 221, 0.0);
}

#quizeditorcomponent.hts iframe{

     width: 99% !important;
     height: 718px !important;
  
}

#quizeditorcomponent.graph {
    height: 700px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

#quizeditorcomponent.shared.graph {
    height: 660px !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.tab-body .shared iframe {
    height: 643px;
}

#quizeditorcomponent.graph > div {
     margin-top: -40px;

}


.questionFilterItemBase {
    width: 250px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    padding: 4px 4px 4px 4px;
    border: black 1px solid;
    vertical-align: top;
}

.filter-header {
    margin: 0 0 5px 0;
    border-bottom: black 1px solid;
}

.filter-closer {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

input.filter-text-input {
    height: 30px;
}

.question-card-template h1{
     font-size: 24px !important;
}

.question-card-template div{
    float: left;
    margin-right: 50px;
    margin-bottom: 10px;
}

.question-card-template {
    float: left;
}

.question-preview {
    height: auto;
}

.question-preview .question-body{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 5px;
}

.question-preview.graph {
     height: 500px;
}

.question-preview ul {
    list-style-type: none;
}
#title-container {
    margin: 20px 0px 0px 0px;
}

.title-item {
    margin: 5px 0px 5px 5px;
}

.chapters-container {
    padding: 3px 0px 3px 25px;
}

.title-link {
    font-weight: bold;
    text-decoration: underline;
}

.chapter-link {
    text-decoration: underline;
}

.course-list-title {
    display: inline-block;
    width: 550px;
}

.course-list-count {
    display: inline-block;
    font-weight: bold;
}

.chapter-list-title {
    width: 540px;
    display: inline-block;
}

.chapter-list-count {
    display: inline-block;
}


.icon-shared-to {
    background-image: url("../Content/img/shared-to.png");
    background-position: center center;
    width: 24px;
    height: 21px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 1px;
}


.icon-version-history{
    background-image: url("../Content/img/versionHistory.png");
    background-position: center center;
    background-repeat: no-repeat;
    width: 29px;
    height: 21px;
    margin-left: 1px;
}

.counter {
}
.icon-shared-from {
    background-image: url("../Content/img/shared-from.png");
    background-position: center center;
    width: 22px;
    height: 21px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 1px;
}

/* styles for bootstrap buttons with custom images*/
.custom-btn:hover .icon-shared-from {
    background-image: url("../Content/img/unshare.png") !important;
}

.custom-btn {
    height: 30px;
    padding: 0 !important;
    width: auto;
    font-size: 21px !important;

   
}

.custom-btn span {
    margin-top: 0;
}




.shared-note {
    margin-bottom: 7px;
    font-size: 15px;
    font-style: italic;
    display: inline-table;
    background-color: #5BC0DE;
    border-radius: 0.25em;
    width: 98%;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a.shared-question-link {
    color: black !important;
    text-decoration: underline !important;
    margin-right: 10px;

}

a.shared-question-link:hover {
    color: black !important;
    text-decoration: none !important;
}

#saveWarningDialog .modal-body {
     height: 300px;
} 

.product-title {
    font-size: 30px;
    width: 1025px;
}

.btn.tiny {
    padding-bottom: 2px;
    padding-left: 2px !important;
    padding-right: 2px !important;
    padding-top: 3px !important;
    color:  #0e6cde;
   
}

.btn.tiny .glyphicon {
    font-size: 18px;
}

.actions-cloumn {
    width: 280px;
    overflow: visible;
}
.actions-container {
   width: 330px;
    overflow: visible;
}

/* Menu items*/
.shared-placeholder {
    display: inline-block;
}

.menu-container-main {
   width: 170px;
   margin-bottom: 1px;
   display: inline-block;
}

.menu-container-main.version-history {
     width: 170px !important;
    margin-bottom: -6px;
}


.menu-container-main .dropdown {
    display: inline-block;
}

.menu-container-main .dropdown-header {
    color: #000000;
    font-size: 12px;
    font-weight: bold;
}

.menu-container-flag {
    width: 38px;
    display: inline-block;
}


.menu-container-flag button{
    padding: 2px 5px;
}


.notification-icons-container span {
    padding-top: 3px;
    padding-left: 6px;
}

.shared-placeholder .badge {
        left: -5px !important;
        top: -5px !important;
        padding: 3px 5px !important;
        font-size: 12px !important;
        background-color:  #0e6cde !important;
}

#shareQuestionModal input:not([type="radio"]), select {
    max-width: 100%;
    width: 958px;
}
#shareQuestionModal {
    font-size: 20px;
}

.notifications-displair {
    z-index: 9999;
}

.cell-value-table td {
    vertical-align: top;
}

.metadata-button-holder {
    width: 100%;
    display: inline-block;
}

.metadata-button-container {
    float: right
}

.metadata-button {
    margin: 5px 3px 5px 3px;
}

.course-selector-container {
    margin: 15px 20px 20px 5px;
    width: 300px;
}

.metadata-multi-line-container {
    margin: 5px 15px 10px 5px;
}

.metadata-multi-line-lable {
    font-weight: bold;
}

.metadata-multi-line-editor {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    width: 300px;
    height: 400px;
}

textarea.metadata-availible-values-editor {
    -moz-resize: none;
    -ms-resize: none;
    -o-resize: none;
    resize: none;
    width: 560px;
    height: 400px;
    max-width: 560px
}

.metadata-values-label {
    margin: 0 0 15px 0;
}

/* Versions */

.version-row {
    
    display: table-row;
  
}

.version-cell{
    
    display: table-cell;
    height: 50px;
    border-bottom: 1px solid #000000;
    width: 100%;
  
}

.version-row:last-child .version-cell{
    
    border-bottom: none;

  
}

.version-text.current {
    font-weight: bold;
}

.versions {
    width: 939px;
    display: table;
   border-spacing:0 13px;
    
}

.version-cell .version-text {
    padding: 0;
}

#history.tab-pane {
    height: 750px;
    overflow-y: scroll;
    border-bottom: 1px solid #c0c0c0;
    
}

.metadata-table {
    width: 100%;
}

.metadata-table.table > tbody > tr > td {
    vertical-align: middle;
}

.field-column,
.internal-column {
    min-height: 80px;
    width: 24%;
}

.values-column,
.display-column {
    width: 8%;
}

.type-column {
    width: 26%;
}

.delete-column {
    width: 5%;
}
#versionPreview .modal-body {
    max-height: 600px!important;
    overflow-y: auto;
    height: auto;
    overflow-x: hidden;

}
#versionPreview {
   overflow-y: hidden; 
}
 

.version-cell .waiting.small {
    margin-top: 5px;
    margin-bottom: 5px;
}
