<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
  </configSections>  
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT"></dlapConnection>
    <bhConnection url="http://root.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"></annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"></admin>
  </agilixSessionManager>
  <connectionStrings>
    <add name="PXTaxonomy"
         connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXTaxonomy;User ID=pxuser;Password=m@gikM1ssl3"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dlapUser" value="root/pxmigration"/>
    <add key="dlapPassword" value="Px-Migration-123"/>
  </appSettings>
</configuration>