.NavTree_t1_item {
	color: #000000;
	margin:5px 0 5px 0px;
}

.NavTree_t1_item_contents {
	color: #000000;
	margin:2px 0 2px 25px;
	display:none;
}

.NavTree_t1_item_toggleLink {
	color: #003366;
	text-decoration: none;
}

a.NavTree_t1_item_toggleLink:link {
	color: #003366;
	text-decoration: none;
}

a.NavTree_t1_item_toggleLink:visited {
	color: #003366;
	text-decoration: none;
}

a.NavTree_t1_item_toggleLink:hover {
	color: #003366;
	text-decoration: underline;
}

