
@{
    ViewBag.Title = "Index";
}

<h2>Metadata config</h2>

<div id="notifications-container" class='notifications top-center center'> </div>

<div id="config-container"> </div>

@section scripts
{
    <script src="../../Scripts/app/dataAccess/metadataCfgDataManager.js"></script>
    <script src="../../Scripts/app/components/common/loader.js"></script>
    <script src="../../Scripts/app/async/asyncManager.js"></script>
    <script src="../../Scripts/app/async/notificationManager.js"></script>
    
    <script src="../../Scripts/app/components/common/textEditor.js"></script>
    <script src="../../Scripts/app/components/common/singleSelectSelector.js"></script>
    <script src="../../Scripts/app/components/common/textAreaEditor.js"></script>
    
    <script src="../../Scripts/app/components/metadata/titleSpecificMetadataField.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataMainButtonsContainer.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataCourseSelector.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataChapterEditorTab.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataMetaEditorTab.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataTabs.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataCfgRoot.js"></script>

    <script>
        var configContainer = $('#config-container')[0];
        asyncManager.startWait(configContainer);

        notificationManager.htmlContainer = $('#notifications-container')[0];

        var options = {};
        var courseList = metadataCfgDataManager.getAvailableCourses();

        courseList.done(function(response) {
                asyncManager.page = React.renderComponent(
                    MetadataCfgRoot({
                        availableCourses: response,
                        options: options
                    }, " "),
                    configContainer);
                    })
                    .fail(function (error) {
                        console.error("metadataCfgDataManager.getAvailableCourses:", error);
                    })
                    .always(function () {
                        asyncManager.stopWait();
                    });
    </script>
}