<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerdev" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerqa" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerprod" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerpr" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagersnap" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
  </configSections>
  <appSettings>
    <add key="user" value="root/pxmigration " />
    <add key="password" value="Px-Migration-123" />
    <add key="GetUserProfile" value="https://coresvcs.bfwpub.com/profile/v1/getuserprofile?RAIds=|GET" />
    <add key="iv" value="HR$2pIjHR$2pIj12" />
    <add key="key" value="flatiron" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="PXData" connectionString="Data Source=192.168.223.152;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3" providerName="System.Data.SqlClient" />-->
    <add name="PXData" connectionString="Data Source=DataWQA01;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3" providerName="System.Data.SqlClient" />
    <add name="devRA" connectionString="server=BFWDBDEV\SQL2005;database=bfwusers;uid=RA_ReadOnly;pwd=Read0nly;timeout=1000" providerName="System.Data.SqlClient" />
    <add name="qaRA" connectionString="server=BFWDBSTG\SQL2005;database=bfwusers;uid=RA_ReadOnly;pwd=Read0nly;timeout=500" providerName="System.Data.SqlClient" />
    <add name="pristineRA" connectionString="server=RADBQA01;database=bfwusers;uid=RA_ReadOnly;pwd=Read0nly;timeout=1000" providerName="System.Data.SqlClient" />
    <add name="prodRA" connectionString="server=BFWDBDEV\SQL2005;database=bfwusers_prod_LogShip;uid=RA_ReadOnly;pwd=Read0nly;timeout=1000" providerName="System.Data.SqlClient" />
    <add name="prodSnapshotRA" connectionString="server=BFWDBDEV\SQL2005;database=bfwusers_prod_LogShip;uid=RA_ReadOnly;pwd=Read0nly;timeout=1000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>
  <!--<agilixSessionManager>
    <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
    <bhConnection url="http://{1}.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>-->
  <agilixSessionManagerpr>
    <dlapConnection url="http://pr.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.bhpr.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.bhpr.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerpr>
  <agilixSessionManagerdev>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerdev>
  <agilixSessionManagerprod>
    <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerprod>
  <agilixSessionManagerqa>
    <dlapConnection url="http://qa.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" secretkey="magic" compress="true" allowasync="true">
    </dlapConnection>
    <bhConnection url="http://{1}.qa.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.qa.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123">
    </annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123">
    </admin>
  </agilixSessionManagerqa>
  <agilixSessionManagersnap>
    <dlapConnection url="http://devprodrefresh.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagersnap>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <!-- Agilix Components -->
    <alias alias="ISessionManager" type="Bfw.Agilix.Dlap.Session.ISessionManager, Bfw.Agilix.Dlap" />
    <alias alias="SessionManager" type="Bfw.Agilix.Dlap.Components.Session.ThreadSessionManager, Bfw.Agilix.Dlap.Components" />
    <!-- Core Components -->
    <alias alias="ILogger" type="Bfw.Common.Logging.ILogger, Bfw.Common" />
    <alias alias="Logger" type="Bfw.Common.Logging.NullLogger, Bfw.Common" />
    <alias alias="ITraceManager" type="Bfw.Common.Logging.ITraceManager, Bfw.Common" />
    <alias alias="TraceManager" type="Bfw.Common.Patterns.Logging.LogTraceManager, Bfw.Common.Patterns" />
    <container name="unity">
      <!-- Agilix Components -->
      <register type="ISessionManager" mapTo="SessionManager">
        <lifetime type="perThread" />
      </register>
      <!-- Core Components -->
      <register type="ILogger" mapTo="Logger">
        <lifetime type="singleton" />
      </register>
      <register type="ITraceManager" mapTo="TraceManager">
        <lifetime type="perThread" />
      </register>
    </container>
  </unity>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="PX Metadata Tool" formatter="Text Formatter" log="Application" machineName="." traceOutputOptions="None" />
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
           formatter="Text Formatter" rollSizeKB="512000" traceOutputOptions="DateTime, Timestamp, Callstack"
           fileName="C:\Development\PX\Trunk\PX\Tools\DlapShip\Logs\Logger.log" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}&#xD;&#xA;Message: {message}{newline}&#xD;&#xA;Category: {category}{newline}&#xD;&#xA;Priority: {priority}{newline}&#xD;&#xA;EventId: {eventid}{newline}&#xD;&#xA;Severity: {severity}{newline}&#xD;&#xA;Title:{title}{newline}&#xD;&#xA;Machine: {localMachine}{newline}&#xD;&#xA;App Domain: {localAppDomain}{newline}&#xD;&#xA;ProcessId: {localProcessId}{newline}&#xD;&#xA;Process Name: {localProcessName}{newline}&#xD;&#xA;Thread Name: {threadName}{newline}&#xD;&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
        <!-- Production Category Filters -->
        <!--<categoryFilters>

          <add name="Warning" />

          <add name="Debug" />

          <add name="Information" />

        </categoryFilters>-->
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <!--<add name="Rolling Flat File Trace Listener" />-->
          <!--<add name="Event Log Listener" />-->
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <!--<add name="Event Log Listener" />-->
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <!--<add name="Rolling Flat File Trace Listener" />-->
          <!--<add name="Event Log Listener" />-->
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>