<cruisecontrol xmlns:cb="urn:ccnet.config.builder">
  <project name="Platform-X">
    <description>Builds PX and moves it to DEV</description>   
	<labeller type="dateLabeller" />
    <sourcecontrol type="svn">
      <executable>C:\Program Files\SlikSvn\bin\svn.exe</executable>
      <trunkUrl>svn://svn.bfwpub.com/PX/PXBranchCheckouts/Trunk</trunkUrl>
      <workingDirectory>C:\CCNET\Source\</workingDirectory>
      <checkExternals>true</checkExternals>
      <cleanCopy>false</cleanCopy>
      <username>dnewman</username>
      <password>npsPX123</password>
    </sourcecontrol>
    <tasks>
		<msbuild>
			<description>Build PXPub application</description>
			<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
			<workingDirectory>C:\CCNET\Source\PX</workingDirectory>
			<projectFile>PlatformX.sln</projectFile>
			<buildArgs>/noconsolelogger /p:Configuration=Release /v:diag</buildArgs>
			<targets>PXPub</targets>
			<timeout>900</timeout>
		</msbuild>
		<msbuild>
			<description>Build AccountRequest application</description>
			<executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
			<workingDirectory>C:\CCNET\Source\PX\Bfw.PX.Account</workingDirectory>
			<projectFile>Bfw.PX.Account.sln</projectFile>
			<buildArgs>/noconsolelogger /p:Configuration=Release /v:diag</buildArgs>			
			<timeout>900</timeout>
		</msbuild>
		<buildpublisher>
		  <description>Copy PXPub application to build directory</description>
		  <sourceDir>C:\CCNET\Source\PX\PXPub</sourceDir>
		  <publishDir>C:\CCNET\Builds\PX\PXPub</publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>false</alwaysPublish>
			<dynamicValues>
			  <replacementValue property="publishDir">
				<format>C:\CCNET\Builds\PX\{0}\PXPub</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</buildpublisher>
		<buildpublisher>
		  <description>Copy DbScripts to build directory</description>
		  <sourceDir>C:\CCNET\Source\PX\DbScripts</sourceDir>
		  <publishDir>C:\CCNET\Builds\PX\DbScrpts</publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>false</alwaysPublish>
			<dynamicValues>
			  <replacementValue property="publishDir">
				<format>C:\CCNET\Builds\PX\{0}\DbScripts</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</buildpublisher>
		<buildpublisher>
		  <description>Copy AccountRequest to build directory</description>
		  <sourceDir>C:\CCNET\Source\PX\Bfw.PX.Account\Bfw.PX.Account</sourceDir>
		  <publishDir>C:\CCNET\Builds\PX\AccountRequest</publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>false</alwaysPublish>
			<dynamicValues>
			  <replacementValue property="publishDir">
				<format>C:\CCNET\Builds\PX\{0}\AccountRequest</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</buildpublisher>
		<powershell>
		  <script>remove_svn.ps1</script>	  
		  <executable>C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe</executable>
		  <scriptsDirectory>C:\CCNET\Scripts</scriptsDirectory>
		  <buildArgs>C:\CCNET\Builds\PX\PXPub\$CCNetLabel</buildArgs>		  
		  <successExitCodes>0</successExitCodes>
		  <buildTimeoutSeconds>120</buildTimeoutSeconds>
		  <description>removes all .svn directories</description>
		  <dynamicValues>
			  <replacementValue property="buildArgs">
				<format>C:\CCNET\Builds\PX\{0}</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</powershell>
		<powershell>
		  <script>rename_config.ps1</script>	  
		  <executable>C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe</executable>
		  <scriptsDirectory>C:\CCNET\Scripts</scriptsDirectory>
		  <buildArgs>C:\CCNET\Builds\PX\PXPub\$CCNetLabel Web.config.ravell.dev</buildArgs>		  
		  <successExitCodes>0</successExitCodes>
		  <buildTimeoutSeconds>120</buildTimeoutSeconds>
		  <description>renames the PXPub config file</description>
		  <dynamicValues>
			  <replacementValue property="buildArgs">
				<format>C:\CCNET\Builds\PX\{0}\PXPub Web.config.ravell.dev</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</powershell>		
		<powershell>
		  <script>output_version.ps1</script>	  
		  <executable>C:\WINDOWS\system32\WindowsPowerShell\v1.0\powershell.exe</executable>
		  <scriptsDirectory>C:\CCNET\Scripts</scriptsDirectory>
		  <buildArgs>$CCNetLabel C:\CCNET\Builds\PX\{0}\PXPub\version.txt</buildArgs>		  
		  <successExitCodes>0</successExitCodes>
		  <buildTimeoutSeconds>120</buildTimeoutSeconds>
		  <description>creates a file containing the version number</description>
		  <dynamicValues>
			  <replacementValue property="buildArgs">
				<format>{0} C:\CCNET\Builds\PX\{0}\PXPub\version.txt</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</powershell>
		<buildpublisher>
			<description>Copy PXPub app from build directory to DEV server</description>
			<dynamicValues>
			  <replacementValue property="sourceDir">
				<format>C:\CCNET\Builds\PX\{0}\PXPub</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		  <publishDir>\\192.168.78.92\s$\web_novell\vdirs\PXPub_Novell</publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>false</alwaysPublish>
		</buildpublisher>
		<buildpublisher>
			<description>Copy DbScripts from build directory to DEV server</description>
			<dynamicValues>
			  <replacementValue property="sourceDir">
				<format>C:\CCNET\Builds\PX\{0}\DbScripts</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		  <publishDir>\\192.168.78.92\s$\web_novell\vdirs\DbScripts</publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>false</alwaysPublish>
		</buildpublisher>
		<buildpublisher>
			<description>Copy AccountRequest app from build directory to DEV Server</description>
			<dynamicValues>
			  <replacementValue property="sourceDir">
				<format>C:\CCNET\Builds\PX\{0}\AccountRequest</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		  <publishDir>\\192.168.78.92\s$\web_novell\vdirs\AccountRequest</publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>false</alwaysPublish>
		</buildpublisher>
		<exec>
		  <description>Runs the PXData master.sql script</description>
		  <executable>C:\PROGRA~1\MICROS~1\100\Tools\Binn\sqlcmd.exe</executable>
		  <baseDirectory>C:\CCNET\Builds\PX\DbScripts\PXData</baseDirectory>
		  <buildArgs>-S VSPXDBDEV01\SQL2008R2 -U pxuser -P Password1 -i master.sql -v DATABASENAME=PXData PATH=".\"</buildArgs>
		  <buildTimeoutSeconds>360</buildTimeoutSeconds>
		  <successExitCodes>0</successExitCodes>		  
		  <dynamicValues>
			  <replacementValue property="baseDirectory">
				<format>C:\CCNET\Builds\PX\{0}\DbScripts\PXData</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</exec>
		<exec>
		  <description>Runs the PXTaxonomy master.sql script</description>
		  <executable>C:\PROGRA~1\MICROS~1\100\Tools\Binn\sqlcmd.exe</executable>
		  <baseDirectory>C:\CCNET\Builds\PX\DbScripts\PXTaxonomy</baseDirectory>
		  <buildArgs>-S VSPXDBDEV01\SQL2008R2 -U pxuser -P Password1 -i master.sql -v DATABASENAME=PXTaxonomy PATH=".\"</buildArgs>
		  <buildTimeoutSeconds>360</buildTimeoutSeconds>
		  <successExitCodes>0</successExitCodes>		  
		  <dynamicValues>
			  <replacementValue property="baseDirectory">
				<format>C:\CCNET\Builds\PX\{0}\DbScripts\PXTaxonomy</format>
				<parameters>
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>
			</dynamicValues>
		</exec>
    </tasks>
	<publishers>				
		<xmllogger />
	</publishers>
  </project>
  <project name="Platform-X Push to QA">
    <description>Moves code deployed to DEV to QA</description>   
	<workingDirectory>\\192.168.78.92\S$\web_novell\vdirs</workingDirectory>
	<artifactDirectory>\\192.168.78.92\S$\deployments</artifactDirectory>
	<labeller type="fileLabeller">
		<labelFilePath>PxPub_Novell\version.txt</labelFilePath>
	</labeller>
	<sourcecontrol type="nullSourceControl" />
    <tasks>		
		<buildpublisher>
		  <description>Copy PXPub application to deployment directory</description>
		  <sourceDir></sourceDir>
		  <publishDir></publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>true</alwaysPublish>
			<dynamicValues>
			  <replacementValue property="sourceDir">
				<format>{0}\PxPub_Novell</format>
				<parameters>
				  <namedValue name="$CCNetWorkingDirectory" value="Default" />
				</parameters>
			  </replacementValue>
			  <replacementValue property="publishDir">
				<format>{0}\{1}\PxPub_Novell</format>
				<parameters>
				  <namedValue name="$CCNetArtifactDirectory" value="Default" />
				  <namedValue name="$CCNetLabel" value="Default" />				  
				</parameters>
			  </replacementValue>			  
			</dynamicValues>
		</buildpublisher>
		<buildpublisher>
		  <description>Copy DbScripts to deployment directory</description>
		  <sourceDir></sourceDir>
		  <publishDir></publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>true</alwaysPublish>
			<dynamicValues>
			  <replacementValue property="sourceDir">
				<format>{0}\DbScripts</format>
				<parameters>
				  <namedValue name="$CCNetWorkingDirectory" value="Default" />
				</parameters>
			  </replacementValue>
			  <replacementValue property="publishDir">
				<format>{0}\{1}\DbScripts</format>
				<parameters>
				  <namedValue name="$CCNetArtifactDirectory" value="Default" />
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>			  
			</dynamicValues>
		</buildpublisher>
		<buildpublisher>
		  <description>Copy AccountRequest application to deployment directory</description>
		  <sourceDir></sourceDir>
		  <publishDir></publishDir>
		  <useLabelSubDirectory>false</useLabelSubDirectory>
		  <alwaysPublish>true</alwaysPublish>
			<dynamicValues>
			  <replacementValue property="sourceDir">
				<format>{0}\AccountRequest</format>
				<parameters>
				  <namedValue name="$CCNetWorkingDirectory" value="Default" />
				</parameters>
			  </replacementValue>
			  <replacementValue property="publishDir">
				<format>{0}\{1}\AccountRequest</format>
				<parameters>
				  <namedValue name="$CCNetArtifactDirectory" value="Default" />
				  <namedValue name="$CCNetLabel" value="Default" />
				</parameters>
			  </replacementValue>			  
			</dynamicValues>
		</buildpublisher>		
    </tasks>
	<publishers>				
		<xmllogger />
	</publishers>
  </project>
</cruisecontrol>