<configuration>
	<connectionStrings>
		<clear/>
		<add name="default" connectionString="Data Source=BLSQLCLSTR02\BLSQLCLSTR2;Initial Catalog=BFW_STAGING;user id=BFW_PROD;password=nDBkaGHq7PT;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<clear/>
		<add key="EncryptionKey" value="bacdafadf_ffabbca"/>
		<add key="QuestionDataPath" value="\\BLFile01\BFW\BFW_Dev\AngelUploads\Intellipro\QuestionData\"/>
		<add key="ResultsDataPath" value="\\BLFile01\BFW\BFW_Dev\AngelUploads\Intellipro\results\"/>
		<!-- PlayerServerUrl and BaseUrl must point to the same server -->
		<add key="PlayerServerUrl" value="http://coursesdev.bfwpub.com/intellipro/"/>
		<add key="BaseUrl" value="http://dev.px.bfwpub.com:83/PxHTS/"/>
		<!-- The Angel API URL -->
		<!--<add key="AngelAPIURL" value="http://coursesdev.bfwpub.com/api/v1.0/default.asp"/>-->
		<!-- toggle the following to enable/disable encryption -->
		<add key="UseEncryption" value="true"/>
		<add key="UseEncryptedXml" value="true"/>
		<!-- do not change the following -->
		<add key="PlayerSaveServer" value="PlayerSave.ashx"/>
		<add key="PlayerRestoreServer" value="PxPlayerRestore.ashx"/>
		<!-- ignore the following debug parameters -->
		<add key="PlayerDebug" value="true"/>
		<add key="BaseUrlLocalHost" value="http://dev.px.bfwpub.com:83/PxHTS/"/>
	</appSettings>
	<system.web>
		<pages enableSessionState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpHandlers>
			<remove verb="POST,GET" path="ajax/*.ashx"/>
			<remove verb="*" path="c1chartimage.aspx"/>
			<remove verb="*" path="Telerik.RadUploadProgressHandler.aspx"/>
		</httpHandlers>
		<httpModules>
			<!-- <remove name="RadUploadModule"/> -->
		</httpModules>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation>
		<customErrors mode="Off"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<authentication mode="Windows"/>
	</system.web>
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
