<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="pxCacheManager" type="Bfw.Common.Caching.CachingResponseProxySection, Bfw.Common"/>
  </configSections>
  <appSettings>
  </appSettings>
  <pxCacheManager cacheLocation="c:\PxCache\" cacheDuration="60" cacheMetaExtension="meta" cacheContentExtension="cont" proxyCacheEnabled="true" objectCacheEnabled="true"/>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
