@{
    ViewBag.Title = "User Management";
}

<h2>User Management</h2>

<div id="notifications-container" class='notifications top-center center'> </div>

<div id="user-management-container"> </div>

@section scripts
{
    <script src="../../Scripts/app/dataAccess/metadataCfgDataManager.js"></script>
    <script src="../../Scripts/app/components/common/loader.js"></script>
    <script src="../../Scripts/app/async/asyncManager.js"></script>
    <script src="../../Scripts/app/async/notificationManager.js"></script>
    <script src="../../Scripts/app/dataAccess/userManager.js"></script>

    <script src="../../Scripts/app/components/common/textEditor.js"></script>
    <script src="../../Scripts/app/components/common/singleSelectSelector.js"></script>
    <script src="../../Scripts/app/components/common/textAreaEditor.js"></script>
    <script src="../../Scripts/app/components/common/modalDialog.js"></script>
    <script src="../../Scripts/app/components/common/tooltipElement.js"></script>
    <script src="../../Scripts/app/components/common/paginator.js"></script>


    <script src="../../Scripts/app/components/metadata/metadataCourseSelector.js"></script>
    <script src="../../Scripts/app/components/metadata/metadataMetaEditorTab.js"></script>
    
    <script src="../../Scripts/app/components/users/userRoot.js"></script>
    <script src="../../Scripts/app/components/users/availibleTitlesDialog.js"></script>
    <script src="../../Scripts/app/components/users/capabilitiesBox.js"></script>
    <script src="../../Scripts/app/components/users/capabilityGroup.js"></script>
    <script src="../../Scripts/app/components/users/capabilityItem.js"></script>
    <script src="../../Scripts/app/components/users/editRoleBox.js"></script>
    <script src="../../Scripts/app/components/users/roleDialog.js"></script>
    <script src="../../Scripts/app/components/users/roleRow.js"></script>
    <script src="../../Scripts/app/components/users/rolesBox.js"></script>
    <script src="../../Scripts/app/components/users/userBox.js"></script>
    <script src="../../Scripts/app/components/users/userEditorDialog.js"></script>
    <script src="../../Scripts/app/components/users/userRow.js"></script>
    <script src="../../Scripts/app/components/users/userTitleRow.js"></script>
    <script src="../../Scripts/app/components/users/userTitlesBox.js"></script>
    

    <script>
        var userContainer = $('#user-management-container')[0];
        asyncManager.startWait(userContainer);

        notificationManager.htmlContainer = $('#notifications-container')[0];

        var options = {};
        var courseList = metadataCfgDataManager.getAvailableCourses();

        courseList.done(function (response) {
            asyncManager.page = React.renderComponent(
                UserRoot({
                    availableCourses: response,
                    options: options
                }, " "),
                userContainer);
        })
                    .error(function (error) {
                        console.error("metadataCfgDataManager.getAvailableCourses:", error);
                    })
                    .always(function () {
                        asyncManager.stopWait();
                    });
    </script>
}