<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MainParentDomain" value="BFWInstitutions"/>
    <add key="institution_force_list" value="8841,54998"/>
    <add key="SendCourseActivationEmail" value="false"/>
    <add key="BfwUsersDomainId" value="8841"/>
    <add key="NewDomainUserspacePrefix" value="onyx"/>
    <add key="NewDomainUserspaceSuffix" value=""/>
    <add key="AuthenticateUser" value="http://dev.coresvcs.bfwpub.com/Profile/v1/authenticateuser"/>
    <add key="UseWIF" value="true"/>
    <add key="LoginMethod" value="mars"/>
    <add key="FaceplateSearchAgainstProductCourse" value="true"/>

    <!-- eCom urls -->
    <add key="eComActivationCode" value="http://dev.activation.macmillanhighered.com/Account/ActivationCode?target={0}"/>
    <add key="ecomPurchaseAccess" value="http://dev-bcs.bfwpub.com/BFWGlobal/PXPurchase/Purchase.asp?baseurl={0}"/>
    <add key="ecomTrialAccess" value="http://dev-bcs.bfwpub.com/BFWGlobal/PXPurchase/TrialAccess.asp?baseurl={0}"/>
    <add key="ecomRequestAccess" value="http://dev-bcs.bfwpub.com/iLogin22/Login/LoginBCS.aspx?isbn={0}&amp;returl={1}?v=1" />

    <add key="StudentPermissionFlags" value="131073" />
    <add key="InstructorPermissionFlags" value="552692219904" />
    <add key="DefaultGradebookViewFlags" value="10808740100"/>
    <add key="DefaultGradebookSettingsFlags" value="9"/>

    <add key="institution_domain_id" value="8842" />
    <add key="institution_force_list" value="8841,54998" />
    <add key="TestBaseURL" value="dev.whfreeman.com/universe9e/lms" />

    <add key="MyMaterials" value="my_materials" />
    <add key="MyQuizes" value="PX_MY_QUESTIONS" />

    <add key="scorm_approot" value="http://lcl.[company]/brainhoney" />

    <add key="UseWIF" value="true" />
    <add key="LoginMethod" value="mars" />
    <add key="MarsPathLogout" value="http://dev.activation.macmillanhighered.com/account/logout?target={0}&amp;BaseUrl={1}" />
    <add key="InsecureBaseUrl" value="" />
    <add key="ExcludeCourseSection" value="false" />
      
    <!--RAServicesTest-->
    <add key="iv" value="HR$2pIjHR$2pIj12"/>
    <add key="key" value="flatiron"/>
    <add key="TestInstructorId" value="alex.szarka2.instructor@macmillan.com" />
    <add key="TestInstructorPwd" value="Password1" />
    <add key="TestInstructorRaId" value="6668681" />
    <add key="TestStudentId" value="alex.szarka2.student@macmillan.com" />
    <add key="TestStudentPwd" value="Password1" />
    <add key="TestStudentRaId" value="6668682" />

  </appSettings>
  <connectionStrings>

   <add name="PXData" connectionString="Data Source=192.168.78.95\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
    
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
