<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    <section name="microsoft.identityModel.saml" type="Microsoft.IdentityModel.Web.Configuration.MicrosoftIdentityModelSamlSection, Microsoft.IdentityModel.Protocols"/>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="pxCacheManager" type="Bfw.Common.Caching.CachingResponseProxySection, Bfw.Common" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>    
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bfw.PX.Biz.Direct.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <location path="." inheritInChildApplications="false">
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>

    <add key="TestBaseURL" value="dev.whfreeman.com/beta/universe9e/lms" />
    
    <!-- Required by BusinessContextBase -->
    <add key="RAPassword" value="fakepassword" />
    <add key="AdministratorUserspace" value="root" />
    <add key="AdministratorId" value="pxmigration" />
    <add key="AdministratorUserId" value="7" />
    <add key="AdministratorPwd" value="Px-Migration-123" />
    <add key="UserAdministratorUserspace" value="pxmigration" />
    <add key="UserAdministratorId" value="useradmin" />
    <add key="UserAdministratorUserId" value="2137" />
    <add key="UserAdministratorPwd" value="Px-UserAdmin-123"  />
    <add key="EnvironmentUrl" value="http://pxmigration.dev.brainhoney.bfwpub.com/brainhoney" />
    <add key="DevUrl" value="http://dev.whfreeman.com/BFWglobal/PxHTSEditor" />
    <add key="PxHTSEditorUrl" value="http://localhost:4210"  />
    <add key="ProxyUrl" value="http://pxmigration.dev.brainhoney.bfwpub.com/brainhoney" />
    <add key="AppDomainUrl" value="http://localhost:1192" />
    <add key="ExternalResourceBaseUrl" value="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney/Resource" />
    <add key="StudentPermissionFlags" value="131073" />
    <add key="InstructorPermissionFlags" value="552155348992" />
    <!-- End BusinessContextBase requirements -->
    
    <!-- SAML Related appSettings -->
    <add key="IdentityProviderCertificatePath" value="S:\web_novell\vdirs\SamlTest\App_Data\DEV\px.bfwpub.com.pfx"/>
    <add key="IdentityProviderCertificatePassword" value="1@m4N0sC@rmAY3Rw1eN3r"/>
    <add key="IdentityProviderCacheDurationMinutes" value="1440"/>
    <add key="SsoCookies" value="FedAuth; FedAuth1; FedAuth2; FedAuth3; u; QSSession"/>    
    <add key="IdentityProviderNameIdAttribute" value="EMail"/>    
    <add key="IdentityProviderLogoutUrl" value="http://dev.samltest.bfwpub.com/saml/post/slo"/>
    <add key="IdentityProviderAppID" value="SamlTest"/>
    <add key="IdentityProviderAssertConsumerUrl" value="http://dev.samltest.bfwpub.com/bt/saml/post/ac"/>
    <add key="IdentityProviderRegistrationUrl" value="http://dev.idp.bfwpub.com:8080/nidp/app/login?id=NamePassForm2"/>
    <add key="IdentityProviderRedirectManagerUrl" value="http://dev.idp.bfwpub.com:8080/nidp/saml2/idpsend?id=SamlTest"/>
    <add key="IdentityProviderCertificateSigningAlgorithm" value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" />
    <add key="SessionCookieExpiresHours" value="1"/>
    <!-- end SAML Related appSettings -->    
  </appSettings>

    <agilixSessionManager>
      <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
      <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
      <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
      <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
    </agilixSessionManager>

    <pxCacheManager cacheLocation="\PxCache\" cacheDuration="60" cacheMetaExtension="meta" cacheContentExtension="cont" proxyCacheEnabled="false" objectCacheEnabled="false" />
    
    <microsoft.identityModel>
      <service>
        <!-- The set of audience URIs. This should match the entityID specified in metadata\homerealmdiscovery.xml. -->
        <audienceUris>
          <add value="urn:macillan:samltest"/>
        </audienceUris>
        <certificateValidation certificateValidationMode="None"/>
        <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry">
          <!-- The set of trusted issuers.  This should match the entityIDs and thumbprints of signing certificates specified in metadata\identityprovider.xml. -->
          <trustedIssuers>
            <add name="http://dev.idp.bfwpub.com:8080/nidp/saml2/metadata" thumbprint="F65860CAD75342ECE094F393612750220AEB99FE" />
          </trustedIssuers>
        </issuerNameRegistry>
        <!-- The resolver to use when finding this service's signing and encrypting certificates. -->
        <serviceTokenResolver type="BFW.Shared.Saml.SamlSecurityTokenResolver,BFW.Shared.Saml"/>
        <!-- Enable saveBootstrapTokens so the token visualizer can show the raw SAML assertion. -->
        <securityTokenHandlers>
          <securityTokenHandlerConfiguration saveBootstrapTokens="true" />
          <remove type="Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add type="BFW.Shared.Saml.SamlSecurityTokenHandler,BFW.Shared.Saml"/>
        </securityTokenHandlers>
        <federatedAuthentication>
          <cookieHandler requireSsl="false"/>
        </federatedAuthentication>
        <serviceCertificate>
          <certificateReference x509FindType="FindByThumbprint" storeLocation="LocalMachine" findValue="F65860CAD75342ECE094F393612750220AEB99FE" storeName="My" />
        </serviceCertificate>
      </service>
    </microsoft.identityModel>

    <microsoft.identityModel.saml metadata="S:\web_novell\vdirs\SamlTest\App_Data\DEV\serviceprovider.xml">
      <!-- The location of the configuration files of all the partners this service trusts. -->
      <identityProviders>
        <metadata file="S:\web_novell\vdirs\SamlTest\App_Data\DEV\identityprovider.xml"/>
      </identityProviders>
    </microsoft.identityModel.saml>

    <unity configSource="unity.config"/>

    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
      <listeners>
        <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
             listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
             formatter="Text Formatter" rollSizeKB="1024" traceOutputOptions="DateTime, Timestamp, Callstack" fileName="S:\AppLogs\SSOClient.log" timeStampPattern="yyyy-MM-dd HH:mm:ss"/>
      </listeners>
      <formatters>
        <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
      </formatters>
      <logFilters>
        <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
          <!--Production Category Filters-->
          <categoryFilters>
            <add name="Warning" />
            <add name="Debug" />
            <add name="Information" />
          </categoryFilters>
        </add>
      </logFilters>
      <categorySources>
        <add switchValue="All" name="General">
          <listeners>
            <add name="Rolling Flat File Trace Listener"/>
          </listeners>
        </add>
      </categorySources>
      <specialSources>
        <allEvents switchValue="All" name="All Events">
          <listeners>
            <add name="Rolling Flat File Trace Listener"/>
          </listeners>
        </allEvents>
        <notProcessed switchValue="All" name="Unprocessed Category"/>
        <errors switchValue="All" name="Logging Errors &amp; Warnings">
          <listeners>
            <add name="Rolling Flat File Trace Listener"/>
          </listeners>
        </errors>
      </specialSources>
    </loggingConfiguration>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="None">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>

    <httpModules>
      <add name="Saml2AuthenticationModule" type="BFW.Shared.Saml.SamlAuthenticationModule,BFW.Shared.Saml"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule"/>     
    </httpModules>
    
    <customErrors mode="Off"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Saml2AuthenticationModule" type="BFW.Shared.Saml.SamlAuthenticationModule,BFW.Shared.Saml"/>
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule"/>
    </modules>
  </system.webServer>

    <system.diagnostics>
      <sources>
        <source name="Microsoft.IdentityModel" switchValue="Verbose">
          <listeners>
            <add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="S:\AppLogs\ServiceProvider.xml" />
          </listeners>
        </source>
      </sources>
      <trace autoflush="true" />
    </system.diagnostics>

    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="RAGetSiteUserDataSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="RAGetAgilixCourseIDSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            <security mode="None">
              <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
              <message clientCredentialType="UserName" algorithmSuite="Default" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://int-raws.bfwpub.com/RAWS3/RAGetSiteUserData/GetSiteUserData.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetSiteUserDataSoap" contract="RAWS.GetSiteUserData.RAGetSiteUserDataSoap" name="RAGetSiteUserDataSoap" />
        <endpoint address="http://int-raws.bfwpub.com/RAWS3/RAGetCourseSiteID/RAGetCourseSiteID.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetAgilixCourseIDSoap1" contract="RAWS.GetCourseSiteID.RAGetAgilixCourseIDSoap" name="RAGetAgilixCourseIDSoap1" />
      </client>
    </system.serviceModel>
    <applicationSettings>
      <Bfw.PX.Biz.Direct.Services.Properties.Settings>
        <setting name="Bfw_PX_Biz_Direct_Services_RA_CheckUsername_RACheckUsername" serializeAs="String">
          <value>http://dev.bfwpub.com/BFWglobal/_tempRaws3/CheckUserName/RACheckUserName.asmx</value>
        </setting>
        <setting name="Bfw_PX_Biz_Direct_Services_RA_StudentRegistration_RAStudentRegistration" serializeAs="String">
          <value>http://dev.bfwpub.com/BFWglobal/_tempRaws3/StudentRegistration/RAStudentRegistration.asmx</value>
        </setting>
        <setting name="Bfw_PX_Biz_Direct_Services_RA_EnterActivationCode_RAEnterActivationCode" serializeAs="String">
          <value>http://dev.bfwpub.com/BFWglobal/_tempRaws3/EnterActivationCode/RAEnterActivationCode.asmx</value>
        </setting>
      </Bfw.PX.Biz.Direct.Services.Properties.Settings>
    </applicationSettings>

  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime> 

</configuration>
