<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="commonLogTarget" xsi:type="File" layout="${date} | ${level} | ${message} | ${exception:format=tostring }" fileName="${basedir}/App_Data/logs/${shortdate:format=YYYYMMDD}-logfile.txt" archiveFileName="${basedir}/App_Data/logs/archives/${shortdate:format=YYYYMMDD}-log.{#####}.txt" archiveAboveSize="30000000" archiveNumbering="Sequence" concurrentWrites="true" keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="commonLogger" minlevel="Debug" writeTo="commonLogTarget" />
  </rules>
</nlog>