<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   
    <connectionStrings>
        <add
                        name="PXData"
                        connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3"
                        providerName="System.Data.SqlClient"
                        xdt:Transform="SetAttributes"
                        xdt:Locator="Match(name)" />
    </connectionStrings>

  <pxCacheManager
			cacheLocation="S:\PxCache\"
			cacheDuration="60"
			cacheMetaExtension="meta"
			cacheContentExtension="cont"
      proxyCacheEnabled="true"
      objectCacheEnabled="true"
			xdt:Transform="SetAttributes" />
  
    <agilixSessionManager xdt:Transform="Replace">
        <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" compress="true"  secretkey="magic" cookiename="AZT" allowasync="true"></dlapConnection>
        <bhConnection url="http://{1}.brainhoney.bfwpub.com/brainhoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=""  cookiename="BHAUTH" allowResumeSession="true" />
        <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"></annonymous>
        <admin id="7" username="root/pxmigration" password="Px-Migration-123"></admin>
    </agilixSessionManager>

    <appSettings>
        <add key="ActionPlayerUrl" value="http://pxmigration.brainhoney.bfwpub.com/BrainHoney/Component/ActivityPlayer?enrollmentid={0}&amp;itemid={1}&amp;ShowHeader=false&amp;ShowEditFeedback=false&amp;Extra=autostart^true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="EditorUrl" value="http://pxmigration.brainhoney.bfwpub.com/BrainHoney/Component/QuestionEditor?Id=quizeditorcomponent&amp;enrollmentid={0}&amp;itemid={1}&amp;questionid={2}&amp;showcancel=false&amp;showsave=false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="MarsPathLogin" value="http://activation.macmillanhighered.com/account/logon?target={0}%3FBaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="MarsPathLogout" value="http://activation.macmillanhighered.com/account/logout?target={0}%3FBaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="SolrUpdateTaskId" value="32"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="TemporaryCourseId" value="449318" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="HTSEditorUrl" value="http://whfreeman.com/hts?questionId={0}&amp;quizId={1}&amp;entityId={2}&amp;enrollmentId={2}&amp;playerUrl=http%3a%2f%2fpx.bfwpub.com%2fPxHTS%2fPxPlayer.ashx&amp;convert=True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="GraphEditorUrl" value="http://px.bfwpub.com/PxEG/authormode2.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="FmaGraphConverter" value="http://px.bfwpub.com/PxEG/authormode2.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="HtsConverter" value="http://px.bfwpub.com/PxHTS/PxPlayer.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
</configuration>
