<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <connectionStrings>
          <add
				name="PXData"
				connectionString="Data Source=DataWQA01;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3"
				providerName="System.Data.SqlClient"
				xdt:Transform="SetAttributes"
				xdt:Locator="Match(name)" />
    </connectionStrings>

  <pxCacheManager
     cacheLocation="S:\PxCache\"
     cacheDuration="60"
     cacheMetaExtension="meta"
     cacheContentExtension="cont"
     proxyCacheEnabled="true"
     objectCacheEnabled="true"
     xdt:Transform="SetAttributes" />
  
  <dataCacheClient channelOpenTimeout="0" xdt:Transform="Replace">
    <securityProperties mode="None" protectionLevel="None" />
    <hosts>
      <host name="vspxafabpr01.web.hbpub.net" cachePort="22233" />
      <host name="vspxafabpr02.web.hbpub.net" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  
    <agilixSessionManager xdt:Transform="Replace">
        <dlapConnection url="http://pr.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
        <bhConnection url="http://{1}.bhpr.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.bhpr.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain="" cookiename="BHAUTH" allowResumeSession="true" />
        <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
        <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
    </agilixSessionManager>

    <appSettings>
        <add key="ActionPlayerUrl" value="http://pr.pxqba.macmillanusa.com/BrainHoney/Component/ActivityPlayer?enrollmentid={0}&amp;itemid={1}&amp;ShowHeader=false&amp;ShowEditFeedback=false&amp;Extra=autostart^true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="EditorUrl" value="http://pr.pxqba.macmillanusa.com/BrainHoney/Component/QuestionEditor?Id=quizeditorcomponent&amp;enrollmentid={0}&amp;itemid={1}&amp;questionid={2}&amp;showcancel=false&amp;showsave=false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="MarsPathLogin" value="http://pr.activation.macmillanhighered.com/account/logon?target={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="MarsPathLogout" value="http://pr.activation.macmillanhighered.com/account/logout?target={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
        <add key="SolrUpdateTaskId" value="56"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="TemporaryCourseId" value="102154" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="HTSEditorUrl" value="http://pr.whfreeman.com/hts?questionId={0}&amp;quizId={1}&amp;entityId={2}&amp;enrollmentId={2}&amp;playerUrl=http%3a%2f%2fpr.px.bfwpub.com%2fPxHTS%2fPxPlayer.ashx&amp;convert=True" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="FmaGraphConverter" value="http://pr.px.bfwpub.com/PxEG/authormode2.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="GraphEditorUrl" value="http://pr.px.bfwpub.com/PxEG/authormode2.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="HtsConverter" value="http://pr.px.bfwpub.com/PxHTS/PxPlayer.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="DevSubdomain" value="pr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="BaseLaunchpadUrl" value="http://pr.macmillanhighered.com/launchpad/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="GetSiteListByBaseUrl" value="http://pr.coresvcs.bfwpub.com/Entitlement/v1/GetSiteListByBaseUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    </appSettings>

</configuration>