<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>

  <configSections>
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="pxCacheManager" type="Bfw.Common.Caching.CachingResponseProxySection, Bfw.Common" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
 
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.dev.brainhoney.bfwpub.com/BrainHoney/Login.vp/page.htm" userDomain="root" cookieDomain="" cookiename="BHAUTH" allowResumeSession="true" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>
  <pxCacheManager cacheLocation="c:\PxCache\" cacheDuration="31104000" cacheMetaExtension="meta" cacheContentExtension="cont" proxyCacheEnabled="true" objectCacheEnabled="true" />
  <dataCacheClient channelOpenTimeout="0" maxConnectionsToServer="10" >
    <securityProperties mode="None" protectionLevel="None" />
    <hosts>
      <host name="10.9.212.90" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="9900000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MarsPathLogin" value="http://dev.activation.macmillanhighered.com/account/logon?target={0}" />
    <add key="MarsPathLogout" value="http://dev.activation.macmillanhighered.com/account/logout?target={0}" />
    <add key="BrainhoneyDefaultPassword" value="fakepassword" />
    <add key="QuestionPerPage" value="50" />
    <add key="UsersPerPage" value="15" />
    <add key="QuestionTypes" value="choice:Multiple Choice|text:Short Answer|essay:Essay|match:Matching|answer:Multiple Answer|HTS:Advanced Question:custom|FMA_GRAPH:Graph Exercise:custom" />
    <add key="AdministratorUserspace" value="root" />
    <add key="AdministratorUserId" value="7" />
    <add key="AdministratorPwd" value="Px-Migration-123" />
    <add key="DomainId" value="6650" />
    <add key="DomainUserspace" value="bfwproducts" />
    <add key="DisciplineCourseId" value="6710" />
    <add key="cacheTimeoutInMinutes" value="1440" />
    <add key="ActionPlayerUrl" value="http://lcl.qba.com/BrainHoney/Component/ActivityPlayer?enrollmentid={0}&amp;itemid={1}&amp;ShowHeader=false&amp;Extra=autostart^true" /> 
    <add key="EditorUrl" value="http://lcl.qba.com/BrainHoney/Component/QuestionEditor?Id=quizeditorcomponent&amp;enrollmentid={0}&amp;itemid={1}&amp;questionid={2}&amp;showcancel=false&amp;showsave=false" />
    <add key="HTSEditorUrl" value="http://dev.whfreeman.com/hts?questionId={0}&amp;quizId={1}&amp;entityId={2}&amp;enrollmentId={2}&amp;playerUrl=http%3a%2f%2fdev.px.bfwpub.com%2fPxHTS%2fPxPlayer.ashx&amp;convert=True" />
    <add key="GraphEditorUrl" value="http://dev.px.bfwpub.com/PxEG/authormode2.aspx" />
    <add key="FmaGraphConverter" value="http://dev.px.bfwpub.com/PxEG/authormode2.aspx" />
    <add key="HtsConverter" value="http://dev.px.bfwpub.com/PxHTS/PxPlayer.ashx" />
    <add key="BrainhoneyCourseImageFolderName" value="Assets" />
      
    <add key="TemporaryCourseId" value="200117" />
    <add key="SolrUpdateTaskId" value="79" />

    <!-- For AppFabricCacheProvider -->
    <add key="DataCacheFactoryName" value="PX_DataCacheFactory" />
    <add key="DataCacheName" value="PlatformX" />
    <add key="CacheRegionName" value="DefaultRegion" />
    <add key="RTWB_CacheRegionName" value="ProductCourseRegion" />
    <!-- Allowed Subdomains-->
    <add key="AllowedSubdomains" value="www,lcl,dev,qa,pr"/>
    <add key="LocalSubdomain" value="lcl" />
    <add key="DevSubdomain" value="dev" />
    
    			<!-- RA services parameters-->
			<add key="iv" value="HR$2pIjHR$2pIj12"/>
			<add key="key" value="flatiron"/>
    <add key="BaseLaunchpadUrl" value="http://dev.macmillanhighered.com/launchpad/" />
    <add key="GetSiteListByBaseUrl" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/GetSiteListByBaseUrl" />
   
      <!-- Folder paths where Course and Question XML are stored, '|'-symbol is a delimiter-->
    <add key="QuestionXmlSharedFolder" value="\\127.0.0.1\QBA\QuestionRepository\TestProd\|\\127.0.0.1\QBA\QuestionRepository\TestDev\" />
    <add key="CourseXmlSharedFolder" value="\\127.0.0.1\QBA\CourseRepository\TestProd\|\\127.0.0.1\QBA\CourseRepository\TestDev\" />
    <add key="SymbolsToEscapeInContainsTextSearch" value="{}"/>
  </appSettings>
  <system.web>
    <machineKey validationKey="3E8C016C1C1C6188D14DC07ED62EBFA48E1964364DBB994CE2E1338C2CE8033034BC3C851C37A58B7E1DCE1E1EB7EDD193E56A7745BC32E1A40C49792E5CCC4D" decryptionKey="FA14729FA664F68DD66561ED0684D4D6DCDE1F3B5C68796FCA70A06F630EA374" validation="SHA1" decryption="AES" compatibilityMode="Framework20SP1" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0"/>
    <authentication mode="Forms">
      <forms name="pxauth" slidingExpiration="true" />
    </authentication>
        <globalization culture="en-US" /> 
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="QBADummyModelContainer" connectionString="metadata=res://*/QBADummyModel.csdl|res://*/QBADummyModel.ssdl|res://*/QBADummyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=QBADummyData;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PXData" connectionString="Data Source=192.168.78.95\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
    <add name="TestPXData" connectionString="Data Source=localhost;Initial Catalog=PXData2;integrated security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

    <system.webServer>
        <security>
            <requestFiltering>
                <requestLimits maxAllowedContentLength="524288000"/>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
