<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="QBADummyModelContainer"
      connectionString="metadata=res://*/QBADummyModel.csdl|res://*/QBADummyModel.ssdl|res://*/QBADummyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.78.95\SQL2008R2;initial catalog=QBADummyData;User ID=pxuser;Password=Password1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <agilixSessionManager>
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.dev.brainhoney.bfwpub.com/" userDomain="root" cookieDomain="" cookiename="BHAUTH" allowResumeSession="true"  xdt:Transform="SetAttributes" />
    <annonymous  id="13" username="pxmigration/anonymous" password="Px-Anon-123"  xdt:Transform="SetAttributes"  />
    <admin  id="7" username="root/administrator" password="Password1"  xdt:Transform="SetAttributes" />
  </agilixSessionManager>

  <appSettings>
    <add key="ActionPlayerUrl" value="http://dev.pxqba.macmillanusa.com/BrainHoney/Component/ActivityPlayer?enrollmentid={0}&amp;itemid={1}&amp;ShowHeader=false&amp;Extra=autostart^true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EditorUrl" value="http://dev.pxqba.macmillanusa.com/BrainHoney/Component/QuestionEditor?Id=quizeditorcomponent&amp;enrollmentid={0}&amp;itemid={1}&amp;questionid={2}&amp;showcancel=false&amp;showsave=false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="HTSEditorUrl" value="http://10.9.211.200/hts?questionId={0}&amp;quizId={1}&amp;entityId={2}&amp;enrollmentId={2}&amp;playerUrl=http%3a%2f%2fdev.px.bfwpub.com%2fPxHTS%2fPxPlayer.ashx&amp;convert=True"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>

</configuration>