<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add
				name="PXData"
				connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXData_QA;User ID=pxuser;Password=m@gikM1ssl3"
				providerName="System.Data.SqlClient"
				xdt:Transform="SetAttributes"
				xdt:Locator="Match(name)" />
  </connectionStrings>

  <agilixSessionManager>
    <dlapConnection url="http://qa.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" secretkey="magic" compress="true" allowasync="true" ></dlapConnection>
    <bhConnection url="http://{1}.bhqa.worthpublishers.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.qa.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain="" cookiename="BHAUTH" allowResumeSession="true" />
    <annonymous  id="13" username="pxmigration/anonymous" password="Px-Anon-123"  xdt:Transform="SetAttributes"  />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" xdt:Transform="SetAttributes"  />
  </agilixSessionManager>

  <appSettings>
    <add key="ActionPlayerUrl" value="http://qa.pxqba.macmillanusa.com/BrainHoney/Component/ActivityPlayer?enrollmentid={0}&amp;itemid={1}&amp;ShowHeader=false&amp;ShowEditFeedback=false&amp;Extra=autostart^true"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="EditorUrl" value="http://qa.pxqba.macmillanusa.com/BrainHoney/Component/QuestionEditor?Id=quizeditorcomponent&amp;enrollmentid={0}&amp;itemid={1}&amp;questionid={2}&amp;showcancel=false&amp;showsave=false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MarsPathLogin" value="http://qa.activation.macmillanhighered.com/account/logon?target={0}%3FBaseUrl={1}"   xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TemporaryCourseId" value="213956" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="HTSEditorUrl" value="http://10.9.211.200/hts?questionId={0}&amp;quizId={1}&amp;entityId={2}&amp;enrollmentId={2}&amp;playerUrl=http%3a%2f%2fdev.px.bfwpub.com%2fPxHTS%2fPxPlayer.ashx&amp;convert=True"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>