<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <appSettings>
      <add key="ProxyUrl" value="http://pxmigration.brainhoney.bfwpub.com/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="EnvironmentUrl" value="http://pxmigration.brainhoney.bfwpub.com/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="limelightUrl" value="http://origin.proxy.[SetBasedOnDomain]/beta/secure" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>
    <agilixSessionManager xdt:Transform="Replace">
      <dlapConnection url="http://pr.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
      <bhConnection url="http://{1}.bhpr.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.bhpr.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
      <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
      <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
    </agilixSessionManager>
    <system.web>
      <customErrors mode="Off" xdt:Transform="Remove"/>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
  </location>
</configuration>