<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerDev" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerQA" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="agilixSessionManagerProd" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
  </configSections>
  <appSettings>
    <add key="user" value="root/administrator" />
    <add key="password" value="Password1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="droppedStudentSignalType" value= "1.2" />
    <add key="studentPriviliges" value = "131073" />
    <!-- RA services parameters-->
    <add key="iv" value="HR$2pIjHR$2pIj12"/>
    <add key="key" value="flatiron"/>
    <add key="GetCourseList" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/GetProductCourseList?courseList="/>
    <add key="PXWebAPIBaseURL" value="http://dev.px.bfwpub.com/api/" />
    <add key="pxapi_key" value="key" />
    <add key="pxapi_secret" value="secret" />
  </appSettings>
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>
  <agilixSessionManagerDev>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT">
    </dlapConnection>
    <bhConnection url="http://root.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123">
    </annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123">
    </admin>
  </agilixSessionManagerDev>
  <agilixSessionManagerProd>
    <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" cookiename="AZT">
    </dlapConnection>
    <bhConnection url="http://root.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123">
    </annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123">
    </admin>
  </agilixSessionManagerProd>
  <agilixSessionManagerQA>
    <dlapConnection url="http://qa.dlap.bfwpub.com/dlap.ashx" cookiename="AZT">
    </dlapConnection>
    <bhConnection url="http://root.qa.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.qa.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123">
    </annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123">
    </admin>
  </agilixSessionManagerQA>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
    <!-- Agilix Components -->
    <alias alias="ISessionManager" type="Bfw.Agilix.Dlap.Session.ISessionManager, Bfw.Agilix.Dlap" />
    <alias alias="SessionManager" type="Bfw.Agilix.Dlap.Components.Session.ThreadSessionManager, Bfw.Agilix.Dlap.Components" />
    <!-- Core Components -->
    <alias alias="ILogger" type="Bfw.Common.Logging.ILogger, Bfw.Common" />
    <alias alias="Logger" type="Bfw.Common.Logging.NullLogger, Bfw.Common" />
    <alias alias="ITraceManager" type="Bfw.Common.Logging.ITraceManager, Bfw.Common" />
    <alias alias="TraceManager" type="Bfw.Common.Patterns.Logging.LogTraceManager, Bfw.Common.Patterns" />
    <!--Mailer-->
    <alias alias="IMailerService" type="Bfw.PX.ReminderService.IMailerService, Bfw.PX.ReminderService" />
    <alias alias="MailerService" type="Bfw.PX.ReminderService.MailerService, Bfw.PX.ReminderService" />
    <!-- Helpers -->
    <alias alias="IDBService" type="Bfw.PX.ReminderService.IDBService, Bfw.PX.ReminderService" />
    <alias alias="DBService" type="Bfw.PX.ReminderService.DBService, Bfw.PX.ReminderService" />
    <alias alias="IDLAPService" type="Bfw.PX.ReminderService.IDLAPService, Bfw.PX.ReminderService" />
    <alias alias="DLAPService" type="Bfw.PX.ReminderService.DLAPService, Bfw.PX.ReminderService" />
    <alias alias="IRAService" type="Bfw.PX.ReminderService.IRAService, Bfw.PX.ReminderService" />
    <alias alias="RAService" type="Bfw.PX.ReminderService.RAService, Bfw.PX.ReminderService" />
    <alias alias="ReminderAction" type="Bfw.PX.ReminderService.ReminderAction, Bfw.PX.ReminderService"/>
    <container name="unity">                  
      <!-- Agilix Components -->
      <register type="ISessionManager" mapTo="SessionManager">
        <lifetime type="perThread" />
      </register>
      <!-- Core Components -->
      <register type="ILogger" mapTo="Logger">
        <lifetime type="singleton" />
      </register>
      <register type="ITraceManager" mapTo="TraceManager">
        <lifetime type="perThread" />
      </register>
      <!-- Mailer -->
      <register type="IMailerService" mapTo="MailerService">
        <lifetime type="perThread" />
      </register>
      <!-- db helper -->
      <register type="IDBService" mapTo="DBService">
        <lifetime type="perThread" />
      </register>
      <!-- dlap helper -->
      <register type="IDLAPService" mapTo="DLAPService">
        <lifetime type="perThread" />
      </register>
      <!-- ra helper -->
      <register type="IRAService" mapTo="RAService">
        <lifetime type="perThread" />
      </register>
    </container>
  </unity>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="PX Reminder Service" formatter="Text Formatter" log="Application" machineName="." traceOutputOptions="None"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" rollSizeKB="512000" traceOutputOptions="DateTime, Timestamp, Callstack"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}
Message: {message}{newline}
Category: {category}{newline}
Priority: {priority}{newline}
EventId: {eventid}{newline}
Severity: {severity}{newline}
Title:{title}{newline}
Machine: {localMachine}{newline}
App Domain: {localAppDomain}{newline}
ProcessId: {localProcessId}{newline}
Process Name: {localProcessName}{newline}
Thread Name: {threadName}{newline}
Win32 ThreadId:{win32ThreadId}{newline}
Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
        <!-- Production Category Filters -->
        <categoryFilters>
          <add name="Warning" />
          <add name="Debug" />
          <add name="Information" />
        </categoryFilters>
      </add>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <!--<add name="Rolling Flat File Trace Listener" />-->
          <add name="Event Log Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <!--<add name="Rolling Flat File Trace Listener" />-->
          <add name="Event Log Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <!--<add name="Rolling Flat File Trace Listener" />-->
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="PXData" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
    <add name="Logging" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXLogging2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>