<?xml version="1.0"?>
<configuration  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   
  <appSettings>
    <add key="user" value="root/administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="password" value="Password1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="iv" value="HR$2pIjHR$2pIj12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="key" value="flatiron" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GetCourseList" value="http://pr.coresvcs.bfwpub.com/Entitlement/v1/GetProductCourseList?courseList=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PXWebAPIBaseURL" value="http://pr.px.bfwpub.com/api/" />
    <add key="pxapi_key" value="key" />
    <add key="pxapi_secret" value="secret" />
  </appSettings>

  <agilixSessionManager xdt:Transform="Replace">
    <dlapConnection url="http://pr.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" secretkey="magic" compress="true"></dlapConnection>
    <bhConnection url="http://{1}.pr.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.pr.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"></annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"></admin>
  </agilixSessionManager> 
  
  <connectionStrings xdt:Transform="Replace">
    <add name="PXData"
         connectionString="Data Source=DataWQA01;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
    <add name="Logging"
         connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXLogging2;User ID=pxuser;Password=Password1"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
  </connectionStrings>
  
</configuration>