<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  <appSettings>
    <add key="user" value="root/administrator" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="password" value="Password1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ClientSettingsProvider.ServiceUri" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="iv" value="HR$2pIjHR$2pIj12" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="key" value="flatiron" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="GetCourseList" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/GetProductCourseList?courseList=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PXWebAPIBaseURL" value="http://dev.px.bfwpub.com/api/" />
    <add key="pxapi_key" value="key" />
    <add key="pxapi_secret" value="secret" />
  </appSettings>
  
  <agilixSessionManager xdt:Transform="Replace">
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.bhdev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>  
  
  <connectionStrings xdt:Transform="Replace">
    <add name="PXData"
         connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
    <add name="Logging"
         connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXLogging2;User ID=pxuser;Password=Password1"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes"
				 xdt:Locator="Match(name)" />
  </connectionStrings>
  
</configuration>