<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
  </configSections>
  <agilixSessionManager>
    <connection url="http://root.brainhoney.hbpub.com/dlap.ashx"></connection>
  </agilixSessionManager>
  <appSettings>
    <add key="agilixUser" value="root/administrator"/>
    <add key="agilixPassword" value="Password1"/>
  </appSettings>
</configuration>