<?xml version="1.0"?>
<configuration>
  
  <configSections>    
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerdev" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerqa" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerprod" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerpr" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
  </configSections>

  <appSettings>
    <add key="ErrorLogFolder" value ="logs\"/>
    <add key="Conn" value="Data Source=192.168.78.94\SQL2005;Initial Catalog=angel_lite;User Id=PX_MigrationAdmin;Password=PX1goAdmin!"/>
    <add key="SmtpHost" value ="NYMAIL01.newyork.hbpub.net"/>
    <add key="ErrorFromEmail" value ="CM-ResourceUploadError@bfwpub.com"/>
    <add key="ErrorToEmail" value ="Tejas.patel@BFWPUB.COM,ravi_kr@hcl.com"/>
    
  </appSettings>
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>

  <agilixSessionManagerdev>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerdev>

  <agilixSessionManagerqa>
    <dlapConnection url="http://qa.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" secretkey="magic" compress="true" allowasync="true" />
    <bhConnection url="http://{1}.qa.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.qa.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerqa>
  
  <agilixSessionManagerpr>
    <dlapConnection url="http://pr.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.bhpr.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.bhpr.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerpr>
    
  <agilixSessionManagerprod>
    <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
    <bhConnection url="http://{1}.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManagerprod>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
</configuration>
