<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="pxCacheManager" type="Bfw.Common.Caching.CachingResponseProxySection, Bfw.Common" />
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bfw.PX.Biz.Direct.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="bfw.common.httpmodules.resourcecompression" type="Bfw.Common.HttpModules.Configuration.ResourceCompression.ResourceCompressionConfigurationSection, Bfw.Common.HttpModules"/>
  </configSections>
  
  <location path="." inheritInChildApplications="false">
    <connectionStrings>
      <add name="ApplicationServices"
            connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    
  <appSettings>
    <clear/>
    <add key="EncryptionKey" value="bacdafadf_ffabbca"/>
    <add key="BaseUrl" value="http://dev.px.bfwpub.com/BFWglobal/XBkPlayer/"/>
    <add key="BaseUrlLocalHost" value="http://dev.px.bfwpub.com:83/XBkPlayer/"/>    
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="user" value="root/pxmigration "/>
    <add key="password" value="Px-Migration-123"/>
  </appSettings>
  <pxCacheManager cacheLocation="\PxCache\" cacheDuration="60" cacheMetaExtension="meta" cacheContentExtension="cont" proxyCacheEnabled="false" objectCacheEnabled="false" />
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
    <bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
    <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
  </agilixSessionManager>
    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

      <!-- Lifetime manager types -->
      <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
      <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
      <!-- Agilix Components -->
      <alias alias="ISessionManager" type="Bfw.Agilix.Dlap.Session.ISessionManager, Bfw.Agilix.Dlap"/>
      <alias alias="SessionManager" type="Bfw.Agilix.Dlap.Components.Session.ThreadSessionManager, Bfw.Agilix.Dlap.Components"/>

      <!-- Core Components -->
      <alias alias="IControllerFactory" type="System.Web.Mvc.IControllerFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <alias alias="ControllerFactory" type="Bfw.Common.Mvc.ServiceLocatorControllerFactory, Bfw.Common.Mvc" />
      <alias alias="ILogger" type="Bfw.Common.Logging.ILogger, Bfw.Common"/>
      <alias alias="Logger" type="Bfw.Common.Logging.NullLogger, Bfw.Common"/>
      <alias alias="ITraceManager" type="Bfw.Common.Logging.ITraceManager, Bfw.Common"/>
      <alias alias="TraceManager" type="Bfw.Common.Patterns.Logging.LogTraceManager, Bfw.Common.Patterns"/>
      <!-- Business Layer Services -->
      <alias alias="IXBPServices" type="Bfw.PX.XBkPlayer.Biz.Services.IXBPServices, Bfw.PX.XBkPlayer.Biz.Services"/>
      <alias alias="XBPServices" type="Bfw.PX.XBkPlayer.Biz.Services.XBPServices, Bfw.PX.XBkPlayer.Biz.Services" />

      <container name="unity">
        <!-- Agilix Components -->
        <register type="ISessionManager" mapTo="SessionManager">
          <lifetime type="perThread"/>
        </register>

        <!-- Core Components -->
        <register type="IControllerFactory" mapTo="ControllerFactory">
          <lifetime type="singleton" />
        </register>
        <register type="ILogger" mapTo="Logger">
          <lifetime type="singleton"/>
        </register>
        <register type="ITraceManager" mapTo="TraceManager">
          <lifetime type="perThread"/>
        </register>
         <!--Business Layer Services-->
        <register type="IXBPServices" mapTo="XBPServices">
        </register>
      </container>
    </unity>
    
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <customErrors mode="Off"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="CacheXBkPlayer" duration="0" varyByParam="*"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

    <httpRuntime requestValidationMode="2.0"/>
    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
      
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
