<configuration>
	<connectionStrings>
		<clear/>
	</connectionStrings>
	<appSettings>
		<clear/>
		<add key="EncryptionKey" value="bacdafadf_ffabbca"/>
		<add key="BaseUrl" value="/BFWglobal/PxHTS/"/>
		<add key="BaseUrlLocalHost" value="http://dev.px.bfwpub.com/BFWglobal/PxHTS/"/>
	</appSettings>
	<system.web>
		<pages enableSessionState="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpHandlers>
			<remove verb="POST,GET" path="ajax/*.ashx"/>
			<remove verb="*" path="c1chartimage.aspx"/>
			<remove verb="*" path="Telerik.RadUploadProgressHandler.aspx"/>
		</httpHandlers>
		<httpModules>
			<!-- <remove name="RadUploadModule"/> -->
		</httpModules>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Vsa, Version=8.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<customErrors mode="Off"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<authentication mode="Windows"/>
	</system.web>
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
