<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Bfw.PX.Biz.Direct.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bfw.PX.Biz.Direct.Services.Properties.Settings>
            <setting name="Bfw_PX_Biz_Direct_Services_RA_CheckUsername_RACheckUsername" serializeAs="String">
                <value>http://int-raws.bfwpub.com/RAWS3/CheckUserName/RACheckUserName.asmx</value>
            </setting>
            <setting name="Bfw_PX_Biz_Direct_Services_RA_EnterActivationCode_RAEnterActivationCode" serializeAs="String">
                <value>http://int-raws.bfwpub.com/raws3/EnterActivationCode/RAEnterActivationCode.asmx</value>
            </setting>
            <setting name="Bfw_PX_Biz_Direct_Services_RA_StudentRegistration_RAStudentRegistration" serializeAs="String">
                <value>http://int-raws.bfwpub.com/raws3/StudentRegistration/RAStudentRegistration.asmx</value>
            </setting>
        </Bfw.PX.Biz.Direct.Services.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
