<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true"/>
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerdev" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerqa" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerprod" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerpr" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="agilixSessionManagerloadtesting" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
    <section name="pxCacheManager" type="Bfw.Common.Caching.CachingResponseProxySection, Bfw.Common"/>
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core"/>
  </configSections>
  <dataCacheClient channelOpenTimeout="0" maxConnectionsToServer="10">
    <securityProperties mode="None" protectionLevel="None"/>
    <hosts>
      <host name="vspxafabdev01.web.hbpub.net" cachePort="22233"/>
    </hosts>
  </dataCacheClient>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />-->
    <!--<add name="ApplicationServices" connectionString="Data Source=VSCONVERSION06\SQLEXPRESS;Initial Catalog=PXAP;User ID=sa;Password=Welcome123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ApplicationServices" connectionString="Data Source=ASRIVASTAVA028\SKOTA;Initial Catalog=PXAP;User ID=sa;Password=pxrocks" providerName="System.Data.SqlClient"/>-->
    <add name="PXData" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient"/>
    <add name="PXAP" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXAP;User ID=pxuser;Password=Password1;Connect Timeout=200;" providerName="System.Data.SqlClient"/>
    <add name="Logging" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXLogging2;User ID=pxuser;Password=Password1;Connect Timeout=200;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="StudentPermissionFlags" value="131073"/>
    <!--<add key="user" value="root/pxmigration" />
    <add key="password" value="Px-Migration-123"/>-->
    <add key="user" value="root/administrator"/>
    <add key="userid" value="2"/>
    <add key="password" value="Password1"/>
    <!-- For AppFabricCacheProvider -->
    <add key="DataCacheFactoryName" value="PX_DataCacheFactory"/>
    <add key="DataCacheName" value="PlatformX"/>
    <add key="CacheRegionName" value="DefaultRegion"/>
  </appSettings>
  <agilixSessionManager>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"/>
    <bhConnection url="http://root.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH"/>
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"/>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"/>
  </agilixSessionManager>
  <agilixSessionManagerdev>
    <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"/>
    <bhConnection url="http://root.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH"/>
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"/>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"/>
  </agilixSessionManagerdev>
  <agilixSessionManagerprod>
    <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"/>
    <bhConnection url="http://root.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH"/>
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"/>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"/>
  </agilixSessionManagerprod>
  <agilixSessionManagerqa>
    <dlapConnection url="http://qa.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"/>
    <bhConnection url="http://root.qa.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.qa.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH"/>
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"/>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"/>
  </agilixSessionManagerqa>
  <agilixSessionManagerpr>
    <dlapConnection url="http://pr.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"/>
    <bhConnection url="http://root.pr.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH"/>
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"/>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"/>
  </agilixSessionManagerpr>
  <agilixSessionManagerloadtesting>
    <dlapConnection url="http://lt.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"/>
    <bhConnection url="http://root.lt.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.lt.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH"/>
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"/>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"/>
  </agilixSessionManagerloadtesting>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <sessionState timeout="2880"/>
    <customErrors mode="Off"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="PXAP" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <properties>
        <add name="Name"/>
      </properties>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="PXAP" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="PXAP" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers"/>
        <add namespace="System.Web.Mvc"/>
        <add namespace="System.Web.Mvc.Ajax"/>
        <add namespace="System.Web.Mvc.Html"/>
        <add namespace="System.Web.Routing"/>
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" formatter="Text Formatter" rollSizeKB="1024" traceOutputOptions="DateTime, Timestamp, Callstack" fileName="C:\PxLogs\pxap.log" timeStampPattern="yyyy-MM-dd HH:mm:ss"/>
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <pxCacheManager cacheLocation="c:\PxCache\" cacheDuration="31104000" cacheMetaExtension="meta" cacheContentExtension="cont" proxyCacheEnabled="true" objectCacheEnabled="true"/>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!-- Lifetime manager types -->
    <alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity"/>
    <alias alias="perWebRequest" type="Bfw.Common.Patterns.Unity.UnityPerWebRequestLifetimeManager, Bfw.Common.Patterns"/>
    <alias alias="ISessionManager" type="Bfw.Agilix.Dlap.Session.ISessionManager, Bfw.Agilix.Dlap"/>
    <alias alias="SessionManager" type="Bfw.Agilix.Dlap.Components.Session.WebSessionManager, Bfw.Agilix.Dlap.Components"/>
    <!-- Core Components -->
    <alias alias="ILogger" type="Bfw.Common.Logging.ILogger, Bfw.Common"/>
    <alias alias="Logger" type="Bfw.Common.Patterns.Logging.EnterpriseLibraryLogger, Bfw.Common.Patterns"/>
    <alias alias="ITraceManager" type="Bfw.Common.Logging.ITraceManager, Bfw.Common"/>
    <alias alias="TraceManager" type="Bfw.Common.Patterns.Logging.LogTraceManager, Bfw.Common.Patterns"/>
    <alias alias="IApplicationContext" type="Bfw.PXAP.Components.IApplicationContext, Bfw.PXAP.Components"/>
    <alias alias="ApplicationContext" type="Bfw.PXAP.Components.DefaultApplicationContext, Bfw.PXAP.Components"/>
    <alias alias="ICacheProvider" type="Bfw.Common.Caching.ICacheProvider, Bfw.Common"/>
    <alias alias="CacheProvider" type="Bfw.Common.Patterns.Caching.AppFabricCacheProvider, Bfw.Common.Patterns"/>
    <alias alias="IDataCacheFactoryProvider" type="Bfw.Common.Patterns.Caching.IDataCacheFactoryProvider, Bfw.Common.Patterns"/>
    <alias alias="DataCacheFactoryProvider" type="Bfw.Common.Patterns.Caching.HttpApplicationDataCacheFactoryProvider, Bfw.Common.Patterns"/>
    <container name="unity">
      <!-- Core Components -->
      <register type="ISessionManager" mapTo="SessionManager">
        <lifetime type="perWebRequest"/>
      </register>
      <register type="ILogger" mapTo="Logger">
        <lifetime type="perWebRequest"/>
      </register>
      <register type="ITraceManager" mapTo="TraceManager">
        <lifetime type="perWebRequest"/>
      </register>
      <register type="IApplicationContext" mapTo="ApplicationContext">
        <lifetime type="perWebRequest"/>
      </register>
      <register type="ICacheProvider" mapTo="CacheProvider"/>
      <register type="IDataCacheFactoryProvider" mapTo="DataCacheFactoryProvider"/>
    </container>
  </unity>
  <!--<location path="">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>-->
</configuration>