<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="PXData" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
		<add name="Logging" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXLogging2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
