<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap"/>
  </configSections>
  <agilixSessionManager>
    <connection url="http://sandbox-dlap.bfwpub.com/dlap.ashx"></connection>
    <annonymous id="122" username="root/annonymous" password="Password1"></annonymous>
  </agilixSessionManager>
</configuration>