<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="PXData" connectionString="Data Source=192.168.223.152;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3" providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <agilixSessionManager xdt:Transform="Replace">
    <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic"></dlapConnection>
    <bhConnection url="http://root.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://root.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="true" />
    <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"></annonymous>
    <admin id="7" username="root/pxmigration" password="Px-Migration-123"></admin>
  </agilixSessionManager>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>