<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433    
  
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="microsoft.identityModel.saml" type="Microsoft.IdentityModel.Web.Configuration.MicrosoftIdentityModelSamlSection, Microsoft.IdentityModel.Protocols" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
		<section name="agilixSessionManager" type="Bfw.Agilix.Dlap.Configuration.SessionManagerSection, Bfw.Agilix.Dlap" />
		<section name="oauthSettings" type="System.Configuration.NameValueSectionHandler,system,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089,Custom=null" />
		<section name="whiteListOfConsumers" type="System.Configuration.NameValueSectionHandler,system,Version=1.0.3300.0,Culture=neutral,PublicKeyToken=b77a5c561934e089,Custom=null" />

		<section name="pxCacheManager" type="Bfw.Common.Caching.CachingResponseProxySection, Bfw.Common" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Bfw.PX.Biz.Direct.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <section name="dataCacheClient" type="Microsoft.ApplicationServer.Caching.DataCacheClientSection, Microsoft.ApplicationServer.Caching.Core" />
  </configSections>

  <dataCacheClient channelOpenTimeout="0" maxConnectionsToServer="10" >
    <securityProperties mode="None" protectionLevel="None" />
    <hosts>
      <host name="10.9.212.90" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
			listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
			source="PxWebAPI" formatter="Text Formatter" log="Application" traceOutputOptions="LogicalOperationStack, DateTime, Callstack" filter="All" />

			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
			fileName="C:\PxLogs\PxWebAPI.log" footer="----------------------------------------" formatter="Text Formatter" header="----------------------------------------" rollFileExistsBehavior="Overwrite" rollInterval="Midnight" rollSizeKB="100" timeStampPattern="yyyy-mm-dd" maxArchivedFiles="10" traceOutputOptions="LogicalOperationStack, DateTime, Callstack" filter="All" />

			<add name="Database Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database"
						listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database"
						databaseInstanceName="Logging" writeLogStoredProcName="WriteLog"
						addCategoryStoredProcName="AddCategory" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
			template="Timestamp: {timestamp(local)}{newline}Message: {message}{newline}Category: {category}{newline}Priority: {priority}{newline}EventId: {eventid}{newline}Severity: {severity}{newline}Title:{title}{newline}Machine: {localMachine}{newline}App Domain: {localAppDomain}{newline}ProcessId: {localProcessId}{newline}Process Name: {localProcessName}{newline}Thread Name: {threadName}{newline}Win32 ThreadId:{win32ThreadId}{newline}Extended Properties: {dictionary({key} - {value}{newline})}"
			name="Text Formatter" />
		</formatters>
		<categorySources>
			<add switchValue="Warning" name="General">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
					<add name="Event Log Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="Warning" name="All Events">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
					<add name="Event Log Trace Listener" />
				</listeners>
			</allEvents>
			<notProcessed switchValue="Warning" name="Unprocessed Category">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
					<add name="Event Log Trace Listener" />
				</listeners>
			</notProcessed>
			<errors switchValue="Warning" name="Logging Errors &amp; Warnings">
				<listeners>
					<!--<add name="Rolling Flat File Trace Listener" />-->
					<add name="Event Log Trace Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>

	<connectionStrings>
		<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-PXWebAPI-20120921150527;Integrated Security=SSPI" />
		<add name="Bfw.PX.Comments.Data.Properties.Settings.PX_CommentsConnectionString" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData2;User ID=(local)\SQLEXPRESS;Password=Password1" providerName="System.Data.SqlClient" />
		<add name="PXData" connectionString="Data Source=192.168.78.95\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
		<add name="Logging" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXLogging2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
		<add name="PXTaxonomy" connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXTaxonomy2;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="MARSData" connectionString="data source=192.168.78.95\SQL2008R2;Initial Catalog=MARSData;User ID=pxuser;Password=Password1" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!--OAuth key and secrets-->
	<whiteListOfConsumers>
		<!--<add key="128.0.0.1"	value="localhost" />
		<add key="127.0.0.1"	value="localhost" />-->
		<add key="10.9.211.169" value="dev.techtool.macmillanusa.com" />
		<add key="10.9.211.172" value="qa.techtool.macmillanusa.com"  />
		<add key="10.9.211.162" value="techtool.macmillanusa.com"    />
	</whiteListOfConsumers>

	<!--OAuth key and secrets-->
	<oauthSettings>
		<add key="middlewarekey" value="mysecret" />
		<add key="key" value="secret" />
	</oauthSettings>

	<appSettings>
		<!-- Skip OAuth for testing purposes. This should be always false on Production -->
		<add key="skipoauth" value="false" />

		<!-- Allowed Subdomains-->
		<add key="AllowedSubdomains" value="www,lcl,dev,qa,pr"  />
		<add key="LocalSubdomain" value="lcl" />
		<add key="DevSubdomain" value="dev" />
		<add key="LoginMethod" value="mars" />
		<!-- for site analytics -->
		<add key="AnalyticsProvider" value="googleanalytics" />
		<add key="GoogleSiteKey" value="UA-38819117-1" />
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!-- DLAP connection information -->
		<add key="DlapUserName" value="root/pxmigration" />
		<add key="DlapUserPassword" value="Px-Migration-123" />
		<add key="DlapUserId" value="7" />
		<!-- end DLAP connection information -->
		<add key="StudentPermissionFlags" value="131073" />
		<add key="InstructorPermissionFlags" value="552155348992" />
		<!--DoSearch Flag for Search Actions: determines if searches should be done against product course -->
		<add key="FaceplateSearchAgainstProductCourse" value="true" />
		<!-- Return signature and base signature information in response -->
		<add key="returnsignatureinfo" value="true" />
		<!-- Product Course Id field name that is used in DLAP query -->
		<add key="ProductCourseIdSearchField" value="meta-product-course-id" />
		<add key="GetUserPackages" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/GetPackageSiteList?|GET" />
		<add key="CheckAndCreateAgilixDomain" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/CheckAndCreateAgilixDomain?|POST" />
		<add key="iv" value="ISS3qJigqS1oJi01" />
		<add key="key" value="blackboardblackboardblackboard12" />
		<add key="AdministratorUserspace" value="root" />
		<add key="AdministratorId" value="pxmigration" />
		<add key="AdministratorUserId" value="7" />
		<add key="AdministratorPwd" value="Px-Migration-123" />
		<add key="UserAdministratorUserspace" value="pxmigration" />
		<add key="UserAdministratorId" value="useradmin" />
		<add key="UserAdministratorUserId" value="2137" />
		<add key="UserAdministratorPwd" value="Px-UserAdmin-123" />
		<add key="BrainhoneyDefaultPassword" value="fakepassword" />
    <add key="FaceplateRemoved" value="FACEPLATE_REMOVED"/>
		<add key="NewRelic.AppName" value="Platform-X DEV"  />
		<add key="AppDomainUrl" value="" />
		<add key="DocumentSourceUrl" value=""  />
		<add key="limelightUrl" value="http://dev.[SetBasedOnDomain]/externals/pxproxy/Highlight/ProxyPage"  />
		<add key="PxHTSEditorUrl" value="http://dev.[company]/hts"  />
		<add key="ExternalResourceBaseUrl" value="/BrainHoney/Resource"  />
		<add key="EnvironmentUrl" value="/brainhoney" />
		<add key="ProxyUrl" value="/brainhoney"  />
		<add key="ComponentBaseUrl" value="something"  />
		<add key="RABaseUrl" value="" />
		<add key="RAStudentActivationCode" value="47u-6ug-82r7dv88"  />
		<add key="RAgProxyDomain" value="http://int-bcs.bfwpub.com"  />
		<add key="BrainHoneyAuthUrl" value="/brainhoney/Controls/CredentialsUI.ashx"  />
		<add key="BrainHoneyUrl" value="http://pxmigration.dev.brainhoney.bfwpub.com/brainhoney"  />
		<add key="MarsUrlPlatformValue" value="PX"  />
		<add key="MarsPathLogin" value="http://dev.activation.macmillanhighered.com/account/logon?target={0}&amp;BaseUrl={1}"  />
		<add key="MarsPathLogout" value="http://dev.activation.macmillanhighered.com/account/logout?target={0}&amp;BaseUrl={1}"  />
		<add key="MarsPathGetStarted" value="GetStarted"  />
		<add key="MarsPathUpdateProfile" value="UpdateProfile"  />
		<add key="MarsPathGetHelp" value="GetHelp"  />
		<add key="NovellSSOPublicPathElement" value=""  />

		<add key="SAMLsubDomain" value="" />
		<add key="scorm_approot" value="http://dev.[company]/brainhoney" />
		<add key="msmqQue" value="FormatName:Direct=TCP:192.168.78.92\PxEportfolioExportQueue"  />
		<add key="IdentityProviderCertificatePath" value="S:\SAML_MetaData\App_Data\DEV\px.bfwpub.com.pfx" />
		<add key="IdentityProviderCertificatePassword" value="1@m4N0sC@rmAY3Rw1eN3r" />
		<add key="UseWIF" value="false" />
    <add key="GetAgilixUsersFromRa" value="false"  />
    <add key="Onyx" value="onyx" />
    <add key="DlapDomainParentId" value="8842" />
    <add key="DlapCopySourceDomainId" value="8841" />


    <!-- For AppFabricCacheProvider -->
    <add key="DataCacheFactoryName" value="PX_DataCacheFactory" />
    <add key="DataCacheName" value="PlatformX" />
    <add key="CacheRegionName" value="DefaultRegion" />
    
    <!-- Relative URL identifying the Novell Secure path for this application -->
    <add key="DefaultLaunchPadWidget" value="PX_LAUNCHPAD_ASSIGNED_WIDGET"/>
  </appSettings>
	<microsoft.identityModel>
		<service>
			<!-- The set of audience URIs. This should match the entityID specified in metadata\homerealmdiscovery.xml. -->
			<audienceUris>
				<add value="urn:macillan:px" />
			</audienceUris>
			<certificateValidation certificateValidationMode="None" />
			<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry">
				<!-- The set of trusted issuers.  This should match the entityIDs and thumbprints of signing certificates specified in metadata\identityprovider.xml. -->
				<trustedIssuers>
					<add name="http://dev.idp.bfwpub.com:8080/nidp/saml2/metadata" thumbprint="316C72EDCC3F327E929BFB703CD1432D92089220" />
				</trustedIssuers>
			</issuerNameRegistry>
			<!-- The resolver to use when finding this service's signing and encrypting certificates. -->
			<serviceTokenResolver type="BFW.Shared.Saml.SamlSecurityTokenResolver,BFW.Shared.Saml" />
			<!-- Enable saveBootstrapTokens so the token visualizer can show the raw SAML assertion. -->
			<securityTokenHandlers>
				<securityTokenHandlerConfiguration saveBootstrapTokens="true" />
				<remove type="Microsoft.IdentityModel.Tokens.Saml2.Saml2SecurityTokenHandler, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add type="BFW.Shared.Saml.SamlSecurityTokenHandler,BFW.Shared.Saml" />
			</securityTokenHandlers>
			<federatedAuthentication>
				<cookieHandler requireSsl="false" />
			</federatedAuthentication>
			<serviceCertificate>
				<certificateReference x509FindType="FindByThumbprint" storeLocation="LocalMachine" findValue="316C72EDCC3F327E929BFB703CD1432D92089220" storeName="My" />
			</serviceCertificate>
		</service>
	</microsoft.identityModel>
	<microsoft.identityModel.saml metadata="C:\Development\PX\ecom5-25-2012\PX\PXPub\App_Data\DEV\serviceprovider.xml">
		<!-- The location of the configuration files of all the partners this service trusts. -->
		<identityProviders>
			<metadata file="C:\Development\PX\ecom5-25-2012\PX\PXPub\App_Data\DEV\identityprovider.xml" />
		</identityProviders>
	</microsoft.identityModel.saml>

	<!-- Agilix Connection Information -->
	<agilixSessionManager>
		<dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" />
		<bhConnection url="http://{1}.dev.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=".bfwpub.com" cookiename="BHAUTH" allowResumeSession="false" />
		<annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
		<admin id="7" username="root/pxmigration" password="Px-Migration-123" />
	</agilixSessionManager>
	<!-- End Agilix Connection Information -->
	<pxCacheManager cacheLocation="c:\PxCache\" cacheDuration="60" cacheMetaExtension="meta" cacheContentExtension="cont" proxyCacheEnabled="true" objectCacheEnabled="true" />
	<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
		<!-- Lifetime manager types -->
		<alias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
		<alias alias="perThread" type="Microsoft.Practices.Unity.PerThreadLifetimeManager, Microsoft.Practices.Unity" />
		<alias alias="external" type="Microsoft.Practices.Unity.ExternallyControlledLifetimeManager, Microsoft.Practices.Unity" />
		<alias alias="perWebRequest" type="Bfw.Common.Patterns.Unity.UnityPerWebRequestLifetimeManager, Bfw.Common.Patterns" />
		<!-- Agilix Components -->
		<alias alias="ISessionManager" type="Bfw.Agilix.Dlap.Session.ISessionManager, Bfw.Agilix.Dlap" />
		<alias alias="SessionManager" type="Bfw.Agilix.Dlap.Components.Session.WebSessionManager, Bfw.Agilix.Dlap.Components" />
		<!-- Cross Cutting Components -->
		<alias alias="ILogger" type="Bfw.Common.Logging.ILogger, Bfw.Common" />
		<alias alias="Logger" type="Bfw.Common.Logging.NullLogger, Bfw.Common" />


		<alias alias="ILogger" type="Bfw.Common.Logging.ILogger, Bfw.Common" />
		<alias alias="Logger" type="Bfw.Common.Logging.NullLogger, Bfw.Common" />


		<alias alias="ITraceManager" type="Bfw.Common.Logging.ITraceManager, Bfw.Common" />
		<alias alias="TraceManager" type="Bfw.Common.Patterns.Logging.MvcMiniProfilerTraceManager, Bfw.Common.Patterns" />
    <alias alias="IDocumentConverter" type="Bfw.PX.Biz.ServiceContracts.IDocumentConverter, Bfw.PX.Biz.ServiceContracts" />
    <alias alias="AsposeDocumentConverter" type="Bfw.PX.Biz.Direct.Services.AsposeDocumentConverter, Bfw.PX.Biz.Direct.Services" />
    <alias alias="IResponseProxy" type="Bfw.Common.Caching.IResponseProxy, Bfw.Common" />
		<alias alias="ResponseProxy" type="Bfw.Common.Caching.CachingResponseProxy, Bfw.Common" />
		<alias alias="ICacheProvider" type="Bfw.Common.Caching.ICacheProvider, Bfw.Common" />
		<alias alias="CacheProvider" type="Bfw.Common.Patterns.Caching.AppFabricCacheProvider, Bfw.Common.Patterns" />
    <alias alias="IDataCacheFactoryProvider" type="Bfw.Common.Patterns.Caching.IDataCacheFactoryProvider, Bfw.Common.Patterns" />
    <alias alias="DataCacheFactoryProvider" type="Bfw.Common.Patterns.Caching.HttpApplicationDataCacheFactoryProvider, Bfw.Common.Patterns" />
    <alias alias="IDatabaseManager" type="Bfw.Common.Database.IDatabaseManager, Bfw.Common" />
    <alias alias="DatabaseManager" type="Bfw.Common.Database.DatabaseManager, Bfw.Common" />
		<!-- MVC Components -->
		<!--
	  <alias alias="IControllerFactory" type="System.Web.Mvc.IControllerFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
	  <alias alias="ControllerFactory" type="Bfw.Common.Mvc.ServiceLocatorControllerFactory, Bfw.Common.Mvc" />-->
		<!-- Business Layer Services -->
		<alias alias="IBusinessContext" type="Bfw.PX.Biz.ServiceContracts.IBusinessContext, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="IRequestContext" type="Bfw.PX.Account.Abstract.IRequestContext, Bfw.PX.Account.Abstract" />
		<alias alias="ISSODataProvider" type="Bfw.Common.SSO.ISSODataProvider, Bfw.Common.SSO" />
		<!--<alias alias="NovellSSODataProvider" type="Bfw.Common.SSO.Novell.NovellSSODataProvider, Bfw.Common.SSO.Novell" />-->
		<alias alias="BusinessContext" type="Bfw.PX.PXPub.Components.BusinessContext, Bfw.PX.PXPub.Components" />
		<alias alias="RABusinessContext" type="Bfw.PX.PXPub.Components.RABusinessContext, Bfw.PX.PXPub.Components" />
		<alias alias="RavellBusinessContext" type="Bfw.PX.PXPub.Components.RavellBusinessContext, Bfw.PX.PXPub.Components" />
		<alias alias="SamlBusinessContext" type="Bfw.PX.Biz.Components.SamlBusinessContext.SamlBusinessContext, Bfw.PX.Biz.Components.SamlBusinessContext" />
		<alias alias="FormsAuthBusinessContext" type="Bfw.PX.Biz.Components.FormsAuthBusinessContext.FormsAuthBusinessContext, Bfw.PX.Biz.Components.FormsAuthBusinessContext" />
		<!-- PX PUB Business Layer Actions-->
		<alias alias="IUserActions" type="Bfw.PX.Biz.ServiceContracts.IUserActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="UserActions" type="Bfw.PX.Biz.Direct.Services.UserActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="INavigationActions" type="Bfw.PX.Biz.ServiceContracts.INavigationActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="NavigationActions" type="Bfw.PX.Biz.Direct.Services.NavigationActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IGroupActions" type="Bfw.PX.Biz.ServiceContracts.IGroupActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="GroupActions" type="Bfw.PX.Biz.Direct.Services.GroupActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="ISearchActions" type="Bfw.PX.Biz.ServiceContracts.ISearchActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="SearchActions" type="Bfw.PX.Biz.Direct.Services.SearchActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IAssignmentActions" type="Bfw.PX.Biz.ServiceContracts.IAssignmentActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="AssignmentActions" type="Bfw.PX.Biz.Direct.Services.AssignmentActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IAnnouncementActions" type="Bfw.PX.Biz.ServiceContracts.IAnnouncementActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="AnnouncementActions" type="Bfw.PX.Biz.Direct.Services.AnnouncementActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IContentActions" type="Bfw.PX.Biz.ServiceContracts.IContentActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="ContentActions" type="Bfw.PX.Biz.Direct.Services.ContentActions, Bfw.PX.Biz.Direct.Services" />
    <alias alias="IItemQueryActions" type="Bfw.PX.Biz.ServiceContracts.IItemQueryActions, Bfw.PX.Biz.ServiceContracts" />
    <alias alias="ItemQueryActions" type="Bfw.PX.Biz.Direct.Services.ItemQueryActions, Bfw.PX.Biz.Direct.Services" />
    <alias alias="IQuestionActions" type="Bfw.PX.Biz.ServiceContracts.IQuestionActions, Bfw.PX.Biz.ServiceContracts" />
    <alias alias="QuestionActions" type="Bfw.PX.Biz.Direct.Services.QuestionActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IGradeActions" type="Bfw.PX.Biz.ServiceContracts.IGradeActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="GradeActions" type="Bfw.PX.Biz.Direct.Services.GradeActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="ICourseActions" type="Bfw.PX.Biz.ServiceContracts.ICourseActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="CourseActions" type="Bfw.PX.Biz.Direct.Services.CourseActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IEnrollmentActions" type="Bfw.PX.Biz.ServiceContracts.IEnrollmentActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="EnrollmentActions" type="Bfw.PX.Biz.Direct.Services.EnrollmentActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IPxGradeBookActions" type="Bfw.PX.Biz.ServiceContracts.IPxGradeBookActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="PxGradeBookActions" type="Bfw.PX.Biz.Direct.Services.PxGradeBookActions, Bfw.PX.Biz.Direct.Services" />
		
		<alias alias="IDashboardActions" type="Bfw.PX.Biz.ServiceContracts.IDashboardActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="DashboardActions" type="Bfw.PX.Biz.Direct.Services.DashboardActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IResourceMapActions" type="Bfw.PX.Biz.ServiceContracts.IResourceMapActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="ResourceMapActions" type="Bfw.PX.Biz.Direct.Services.ResourceMapActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="IAutoEnrollmentActions" type="Bfw.PX.Biz.ServiceContracts.IAutoEnrollmentActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="AutoEnrollmentActions" type="Bfw.PX.Biz.Direct.Services.AutoEnrollmentActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="ITaskActions" type="Bfw.PX.Biz.ServiceContracts.ITaskActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="TaskActions" type="Bfw.PX.Biz.Direct.Services.TaskActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="INoteLibraryActions" type="Bfw.PX.Biz.ServiceContracts.INoteLibraryActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="NoteLibraryActions" type="Bfw.PX.Biz.Direct.Services.NoteLibraryActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="INoteActions" type="Bfw.PX.Biz.ServiceContracts.INoteActions, Bfw.PX.Biz.ServiceContracts" />
		<alias alias="NoteActions" type="Bfw.PX.Biz.Direct.Services.NoteActions, Bfw.PX.Biz.Direct.Services" />
		<alias alias="INotesActions" type="Bfw.PX.Biz.ServiceContracts.INoteActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="NotesActions" type="Bfw.PX.Biz.Direct.Services.NoteActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IPageActions" type="Bfw.PX.Biz.ServiceContracts.IPageActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="PageActions" type="Bfw.PX.Biz.Direct.Services.PageActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="ICourseMaterialsActions" type="Bfw.PX.Biz.ServiceContracts.ICourseMaterialsActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="CourseMaterialsActions" type="Bfw.PX.Biz.Direct.Services.CourseMaterialsActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IRSSFeedActions" type="Bfw.PX.Biz.ServiceContracts.IRSSFeedActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="RSSFeedActions" type="Bfw.PX.Biz.Direct.Services.RSSFeedActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IRubricActions" type="Bfw.PX.Biz.ServiceContracts.IRubricActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="RubricActions" type="Bfw.PX.Biz.Direct.Services.RubricActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IUserActivitiesActions" type="Bfw.PX.Biz.ServiceContracts.IUserActivitiesActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="UserActivitiesActions" type="Bfw.PX.Biz.Direct.Services.UserActivitiesActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IActivitiesWidgetActions" type="Bfw.PX.Biz.ServiceContracts.IActivitiesWidgetActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="ActivitiesWidgetActions" type="Bfw.PX.Biz.Direct.Services.ActivitiesWidgetActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IAdminActions" type="Bfw.PX.Biz.ServiceContracts.IAdminActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="AdminActions" type="Bfw.PX.Biz.Direct.Services.AdminActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IQuestionAdminActions" type="Bfw.PX.Biz.ServiceContracts.IQuestionAdminActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="QuestionAdminActions" type="Bfw.PX.Biz.Direct.Services.QuestionAdminActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IAdminMetaDataActions" type="Bfw.PX.Biz.ServiceContracts.IAdminMetaDataActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="AdminMetaDataActions" type="Bfw.PX.Biz.Direct.Services.AdminMetaDataActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IQuestionImporterActions" type="Bfw.PX.Biz.ServiceContracts.IQuestionImporterActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="QuestionImporterActions" type="Bfw.PX.Biz.Direct.Services.QuestionImporterActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IDomainActions" type="Bfw.PX.Biz.ServiceContracts.IDomainActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="DomainActions" type="Bfw.PX.Biz.Direct.Services.DomainActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<alias alias="IReportActions" type="Bfw.PX.Biz.ServiceContracts.IReportActions, Bfw.PX.Biz.ServiceContracts, Version=1.0.0.0, Culture=neutral" />
		<alias alias="ReportActions" type="Bfw.PX.Biz.Direct.Services.ReportActions, Bfw.PX.Biz.Direct.Services, Version=1.0.0.0, Culture=neutral" />
		<!--*************************************************************************************************-->
		<alias alias="PXWebApiBusinessContext" type="Bfw.PX.PXPub.Components.PXWebApiBusinessContext, Bfw.PX.PXPub.Components" />
		<!-- PX Web API Helpers Actions -->
		<alias alias="IApiAssignmentActions" type="Bfw.PXWebAPI.Helpers.IApiAssignmentActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiAssignmentActions" type="Bfw.PXWebAPI.Helpers.ApiAssignmentActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiContentActions" type="Bfw.PXWebAPI.Helpers.IApiContentActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiContentActions" type="Bfw.PXWebAPI.Helpers.ApiContentActions,  Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiSearchActions" type="Bfw.PXWebAPI.Helpers.IApiSearchActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiSearchActions" type="Bfw.PXWebAPI.Helpers.ApiSearchActions,  Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiCourseActions" type="Bfw.PXWebAPI.Helpers.IApiCourseActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiCourseActions" type="Bfw.PXWebAPI.Helpers.ApiCourseActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiDomainActions" type="Bfw.PXWebAPI.Helpers.IApiDomainActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiDomainActions" type="Bfw.PXWebAPI.Helpers.ApiDomainActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiEnrollmentActions" type="Bfw.PXWebAPI.Helpers.IApiEnrollmentActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiEnrollmentActions" type="Bfw.PXWebAPI.Helpers.ApiEnrollmentActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiGradeActions" type="Bfw.PXWebAPI.Helpers.IApiGradeActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiGradeActions" type="Bfw.PXWebAPI.Helpers.ApiGradeActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiGradeBookActions" type="Bfw.PXWebAPI.Helpers.IApiGradeBookActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiGradeBookActions" type="Bfw.PXWebAPI.Helpers.ApiGradeBookActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiItemActions" type="Bfw.PXWebAPI.Helpers.IApiItemActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiItemActions" type="Bfw.PXWebAPI.Helpers.ApiItemActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="IApiUserActions" type="Bfw.PXWebAPI.Helpers.IApiUserActions, Bfw.PXWebAPI.Helpers" />
		<alias alias="ApiUserActions" type="Bfw.PXWebAPI.Helpers.ApiUserActions, Bfw.PXWebAPI.Helpers" />
    <alias alias="ICourseHelper" type="Bfw.PX.PXPub.Controllers.Contracts.ICourseHelper, Bfw.PX.PXPub.Controllers" />
    <alias alias="CourseHelper" type="Bfw.PX.PXPub.Controllers.Helpers.CourseHelper, Bfw.PX.PXPub.Controllers" />
    <alias alias="IUrlHelperWrapper" type="Bfw.PX.PXPub.Controllers.Contracts.IUrlHelperWrapper, Bfw.PX.PXPub.Controllers" />
    <alias alias="UrlHelperWrapper" type="Bfw.PX.PXPub.Controllers.Helpers.UrlHelperWrapper, Bfw.PX.PXPub.Controllers" />
    <alias alias="IHttpContextAdapter" type="Bfw.PXWebAPI.Helpers.Context.IHttpContextAdapter, Bfw.PXWebAPI.Helpers" />
    <alias alias="HttpContextAdapter" type="Bfw.PXWebAPI.Helpers.Context.HttpContextAdapter, Bfw.PXWebAPI.Helpers" />
    <!-- PX Web API Controllers -->
		<alias alias="AssignmentController" type="Bfw.PXWebAPI.Controllers.AssignmentController, Bfw.PXWebAPI.Controllers" />
		<alias alias="ContentController" type="Bfw.PXWebAPI.Controllers.ContentController, Bfw.PXWebAPI.Controllers" />
		<alias alias="CourseController" type="Bfw.PXWebAPI.Controllers.CourseController, Bfw.PXWebAPI.Controllers" />
		<alias alias="DomainController" type="Bfw.PXWebAPI.Controllers.DomainController, Bfw.PXWebAPI.Controllers" />
		<alias alias="EnrollmentController" type="Bfw.PXWebAPI.Controllers.EnrollmentController, Bfw.PXWebAPI.Controllers" />
		<alias alias="GradesController" type="Bfw.PXWebAPI.Controllers.GradesController, Bfw.PXWebAPI.Controllers" />
		<alias alias="HomeController" type="Bfw.PXWebAPI.Controllers.HomeController, Bfw.PXWebAPI.Controllers" />
		<alias alias="UserController" type="Bfw.PXWebAPI.Controllers.UserController, Bfw.PXWebAPI.Controllers" />
		<!--**************************************************-->
		<container name="unity">
			<!-- Agilix Components -->
			<register type="ISessionManager" mapTo="SessionManager">
				<lifetime type="perWebRequest" />
			</register>
			<!-- Core Components -->
			<register type="ILogger" mapTo="Logger">
				<lifetime type="perWebRequest" />
			</register>
			<register type="ITraceManager" mapTo="TraceManager">
				<lifetime type="perWebRequest" />
			</register>
			<register type="IDocumentConverter" mapTo="AsposeDocumentConverter" />
			<!-- Business Layer Services -->
			<!--<register type="ISSODataProvider" mapTo="NovellSSODataProvider" />-->
			<!--<register type="IBusinessContext" mapTo="FormsAuthBusinessContext"><lifetime type="perWebRequest" /></register>-->
			<!--<register type="IBusinessContext" mapTo="OAuthBusinessContext"><lifetime type="perWebRequest" /></register>-->
			<register type="IBusinessContext" mapTo="PXWebApiBusinessContext">
				<lifetime type="perWebRequest" />
			</register>
      <register type="IDatabaseManager" mapTo="DatabaseManager" />
			<!--PX /> Actions -->
			<register type="IUserActions" mapTo="UserActions" />
			<register type="IQuestionAdminActions" mapTo="QuestionAdminActions" />
			<register type="INavigationActions" mapTo="NavigationActions" />
			<register type="IAssignmentActions" mapTo="AssignmentActions" />
			<register type="IAnnouncementActions" mapTo="AnnouncementActions" />
			<register type="IContentActions" mapTo="ContentActions" />
      <register type="IItemQueryActions" mapTo="ItemQueryActions" />
      <register type="IQuestionActions" mapTo="QuestionActions" />
			<register type="IGradeActions" mapTo="GradeActions" />
			<register type="ICourseActions" mapTo="CourseActions" />
			<register type="IEnrollmentActions" mapTo="EnrollmentActions" />
			<register type="IPxGradeBookActions" mapTo="PxGradeBookActions" />
			<register type="IDashboardActions" mapTo="DashboardActions" />
			<register type="IGroupActions" mapTo="GroupActions" />
			<register type="ISearchActions" mapTo="SearchActions" />
			<register type="ITaskActions" mapTo="TaskActions" />
			<register type="IResourceMapActions" mapTo="ResourceMapActions" />
			<register type="IAutoEnrollmentActions" mapTo="AutoEnrollmentActions" />
			<register type="INoteLibraryActions" mapTo="NoteLibraryActions" />
			<register type="INoteActions" mapTo="NoteActions" />
			<register type="INotesActions" mapTo="NotesActions" />
			<register type="IPageActions" mapTo="PageActions" />
			<register type="ICourseMaterialsActions" mapTo="CourseMaterialsActions" />
			<register type="IRSSFeedActions" mapTo="RSSFeedActions" />
			<register type="IRubricActions" mapTo="RubricActions" />
			<register type="IUserActivitiesActions" mapTo="UserActivitiesActions" />
			<register type="IActivitiesWidgetActions" mapTo="ActivitiesWidgetActions" />
			<register type="IAdminActions" mapTo="AdminActions" />
			<register type="IAdminMetaDataActions" mapTo="AdminMetaDataActions" />
			<register type="IQuestionImporterActions" mapTo="QuestionImporterActions" />
			<register type="IDomainActions" mapTo="DomainActions" />
			<register type="IReportActions" mapTo="ReportActions" />
			<!--****************************************************************** -->
			<!--Px Web APIActions -->
			<register type="IApiAssignmentActions" mapTo="ApiAssignmentActions"></register>
			<register type="IApiContentActions" mapTo="ApiContentActions"></register>
			<register type="IApiCourseActions" mapTo="ApiCourseActions"></register>
			<register type="IApiDomainActions" mapTo="ApiDomainActions"></register>
			<register type="IApiEnrollmentActions" mapTo="ApiEnrollmentActions"></register>
			<register type="IApiGradeActions" mapTo="ApiGradeActions"></register>
			<register type="IApiGradeBookActions" mapTo="ApiGradeBookActions"></register>
			<register type="IApiItemActions" mapTo="ApiItemActions"></register>
			<register type="IApiSearchActions" mapTo="ApiSearchActions"></register>
			<register type="IApiUserActions" mapTo="ApiUserActions"></register>
			<!--****************************************************************** -->
			<!-- Controllers -->
			<register type="AssignmentController" />
			<register type="ContentController" />
			<register type="CourseController" />
			<register type="DomainController" />
			<register type="EnrollmentController" />
			<register type="GradesController" />
			<register type="HomeController" />
			<register type="UserController" />
      <register type="ICourseHelper" mapTo="CourseHelper" />
      <register type="IUrlHelperWrapper" mapTo="UrlHelperWrapper" />
      <register type="IHttpContextAdapter" mapTo="HttpContextAdapter">
        <lifetime type="singleton" />
      </register>
			<!-- MVC Components -->
			<!-- <register type="IControllerFactory" mapTo="ControllerFactory"><lifetime type="singleton" /></register>-->
			<register type="ICacheProvider" mapTo="CacheProvider">
				<lifetime type="singleton" />
			</register>
      <register type="IDataCacheFactoryProvider" mapTo="DataCacheFactoryProvider">
      </register>
    </container>
	</unity>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.5" />
		<authentication mode="None" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Optimization" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<profile defaultProvider="DefaultProfileProvider">
			<providers>
				<add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</profile>
		<membership defaultProvider="DefaultMembershipProvider">
			<providers>
				<add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
			</providers>
		</membership>
		<roleManager defaultProvider="DefaultRoleProvider">
			<providers>
				<add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
			</providers>
		</roleManager>
		<sessionState mode="InProc" customProvider="DefaultSessionProvider">
			<providers>
				<add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
			</providers>
		</sessionState>
		<httpModules>
			<add name="UnityPerWebRequestLifetimeModule" type="Bfw.Common.Patterns.Unity.UnityPerWebRequestLifetimeModule, Bfw.Common.Patterns" />
		</httpModules>
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed" />
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
			<remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="RAGetSiteUserDataSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="RAGetAgilixCourseIDSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://dev-raws.bfwpub.com/RAWS3/RAGetSiteUserData/GetSiteUserData.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetSiteUserDataSoap" contract="RAWS.GetSiteUserData.RAGetSiteUserDataSoap" name="RAGetSiteUserDataSoap" />
			<endpoint address="http://dev-raws.bfwpub.com/RAWS3/RAGetCourseSiteID/RAGetCourseSiteID.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetAgilixCourseIDSoap1" contract="RAWS.GetCourseSiteID.RAGetAgilixCourseIDSoap" name="RAGetAgilixCourseIDSoap1" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<Bfw.PX.Biz.Direct.Services.Properties.Settings>
			<setting name="Bfw_PX_Biz_Direct_Services_RA_CheckUsername_RACheckUsername" serializeAs="String">
				<value>http://dev.bfwpub.com/BFWglobal/_tempRaws3/CheckUserName/RACheckUserName.asmx</value>
			</setting>
			<setting name="Bfw_PX_Biz_Direct_Services_RA_StudentRegistration_RAStudentRegistration" serializeAs="String">
				<value>http://dev.bfwpub.com/BFWglobal/_tempRaws3/StudentRegistration/RAStudentRegistration.asmx</value>
			</setting>
			<setting name="Bfw_PX_Biz_Direct_Services_RA_EnterActivationCode_RAEnterActivationCode" serializeAs="String">
				<value>http://dev.bfwpub.com/BFWglobal/_tempRaws3/EnterActivationCode/RAEnterActivationCode.asmx</value>
			</setting>
		</Bfw.PX.Biz.Direct.Services.Properties.Settings>
	</applicationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
			<assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />  
		-->
			<!--Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"-->
			<!--<bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>-->
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
	</entityFramework>
  <uri>
    <idn enabled="All" />
    <iriParsing enabled="true" />
  </uri>
</configuration>