<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <dataCacheClient channelOpenTimeout="0" xdt:Transform="Replace">
      <securityProperties mode="None" protectionLevel="None" />
      <hosts>
        <host name="vspxafabdev01.web.hbpub.net" cachePort="22233"/>
      </hosts>
    </dataCacheClient>
  
		<appSettings>
			<add key="Configuration" value="DEV" xdt:Transform="Insert"/>

			<add key="GetUserPackages" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/GetPackageSiteList?|GET"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="CheckAndCreateAgilixDomain" value="http://dev.coresvcs.bfwpub.com/Entitlement/v1/CheckAndCreateAgilixDomain?|POST"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />


			<add key="NewRelic.AppName" value="Platform-X DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="AppDomainUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="DocumentSourceUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="limelightUrl" value="http://dev.[SetBasedOnDomain]/externals/pxproxy/Highlight/ProxyPage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="PxHTSEditorUrl" value="http://dev.[company]/hts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="ExternalResourceBaseUrl" value="/BrainHoney/Resource" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="EnvironmentUrl" value="/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="ProxyUrl" value="/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="ComponentBaseUrl" value="something" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="RABaseUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="RAStudentActivationCode" value="47u-6ug-82r7dv88" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="RAgProxyDomain" value="http://int-bcs.bfwpub.com" xdt:Transform="Remove" xdt:Locator="Match(key)" />
			<add key="BrainHoneyAuthUrl" value="/brainhoney/Controls/CredentialsUI.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="BrainHoneyUrl" value="http://pxmigration.dev.brainhoney.bfwpub.com/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />      
      <add key="MarsUrlPlatformValue" value="PX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathLogin" value="http://dev.activation.macmillanhighered.com/account/logon?target={0}&amp;BaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathLogout" value="http://dev.activation.macmillanhighered.com/account/logout?target={0}&amp;BaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathGetStarted" value="GetStarted" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathUpdateProfile" value="UpdateProfile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathGetHelp" value="GetHelp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="NovellSSOPublicPathElement" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="UserAdministratorUserId" value="2137" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="SAMLsubDomain" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="scorm_approot" value="http://dev.[company]/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />      
      <add key="msmqQue" value="FormatName:Direct=TCP:192.168.78.92\PxEportfolioExportQueue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="IdentityProviderCertificatePath" value="S:\SAML_MetaData\App_Data\DEV\px.bfwpub.com.pfx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="IdentityProviderCertificatePassword" value="1@m4N0sC@rmAY3Rw1eN3r" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="UseWIF" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="GetAgilixUsersFromRa" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		</appSettings>

    <agilixSessionManager xdt:Transform="Replace">
      <dlapConnection url="http://dev.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
      <bhConnection url="http://{1}.bhdev.worthpublishers.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.dev.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain="" cookiename="BHAUTH" allowResumeSession="true" />
      <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
      <admin id="7" username="root/pxmigration" password="Px-Migration-123" />
    </agilixSessionManager>
		
		<pxCacheManager 
			cacheLocation="S:\PxCache\" 
			cacheDuration="60" 
			cacheMetaExtension="meta" 
			cacheContentExtension="cont"
      proxyCacheEnabled="true" 
      objectCacheEnabled="true"
			xdt:Transform="SetAttributes" />

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <alias alias="AutoEnrollmentActions" type="Bfw.PX.Biz.Direct.Services.DisableAutoEnrollmentActions, Bfw.PX.Biz.Direct.Services" xdt:Transform="SetAttributes" xdt:Locator="Match(alias)"/>      
    </unity>
    
		<connectionStrings>
			<add 
				name="Bfw.PX.Comments.Data.Properties.Settings.PX_CommentsConnectionString"
				connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData;User ID=pxuser;Password=Password1"
				providerName="System.Data.SqlClient" 
				xdt:Transform="SetAttributes" 
				xdt:Locator="Match(name)" />
			<add 
				name="PXData"
				connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXData2;User ID=pxuser;Password=Password1"
				providerName="System.Data.SqlClient" 
				xdt:Transform="SetAttributes" 
				xdt:Locator="Match(name)" />
			<add 
				name="PXTaxonomy"
				connectionString="Data Source=VSPXDBDEV01\SQL2008R2;Initial Catalog=PXTaxonomy2;User ID=pxuser;Password=Password1"
				providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
			<add 
				name="ApplicationServices" 
				connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" 
				providerName="System.Data.SqlClient" 
				xdt:Transform="SetAttributes" 
				xdt:Locator="Match(name)" />
      <add name="MARSData"
           connectionString="data source=192.168.78.95\SQL2008R2;Initial Catalog=MARSData;User ID=pxuser;Password=Password1"
           providerName="System.Data.SqlClient"
           xdt:Transform="SetAttributes"
				xdt:Locator="Match(name)" />
		</connectionStrings>
		
		<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
			<listeners>
				<add 
					name="Rolling Flat File Trace Listener" 
					type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" 
					listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
					formatter="Text Formatter" 
					rollSizeKB="1024" 
					traceOutputOptions="DateTime, Timestamp, Callstack" 
					fileName="S:\PxLogs\px.log" 
					timeStampPattern="yyyy-MM-dd_HH-mm"
					rollFileExistsBehavior="Increment" 
					xdt:Transform="SetAttributes" 
					xdt:Locator="Match(name)" />
			</listeners>
		</loggingConfiguration>   
		
		<applicationSettings xdt:Transform="Remove" />

	<system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>	
	
	<system.webServer>

		  <!-- IIS MIME TYPES -->
      <staticContent>
        <mimeMap fileExtension=".tff" mimeType="application/x-font-tff"/>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      </staticContent>
    </system.webServer>

</configuration>