<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <dataCacheClient channelOpenTimeout="0" xdt:Transform="Replace">
    <securityProperties mode="None" protectionLevel="None" />
    <hosts>
      <host name="hbpxafabqa01.hbpna.com" cachePort="22233" />
      <host name="hbpxafabqa02.hbpna.com" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  
	<appSettings>
    <add key="Configuration" value="QA" xdt:Transform="Insert"/>
		<add key="GetUserPackages" value="http://qa.coresvcs.bfwpub.com/Entitlement/v1/GetPackageSiteList?|GET"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CheckAndCreateAgilixDomain" value="http://qa.coresvcs.bfwpub.com/Entitlement/v1/CheckAndCreateAgilixDomain?|POST"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="NewRelic.AppName" value="Platform-X PRISTINE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DevSubdomain" value="pr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AppDomainUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DocumentSourceUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="limelightUrl" value="http://qa.[SetBasedOnDomain]/externals/pxproxy/Highlight/ProxyPage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="PxHTSEditorUrl" value="http://qa.[company]/hts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ExternalResourceBaseUrl" value="/BrainHoney/Resource" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EnvironmentUrl" value="/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ProxyUrl" value="/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ComponentBaseUrl" value="something" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="RABaseUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="RAStudentActivationCode" value="47u-6ug-82r7dv88" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="RAgProxyDomain" value="http://int-bcs.bfwpub.com" xdt:Transform="Remove" xdt:Locator="Match(key)" />
		<add key="BrainHoneyAuthUrl" value="/brainhoney/Controls/CredentialsUI.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="BrainHoneyUrl" value="http://pxmigration.bhqa.brainhoney.bfwpub.com/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MacVideoBaseUrl" value="http://10.9.211.146" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsUrlBasePublic" value="/AccountRequest/{0}/?platform={1}&amp;target={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsUrlBaseSecure" value="/Account/{0}/?platform={1}&amp;target={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsUrlPlatformValue" value="PX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsProfile" value="http://qa.activation.macmillanhighered.com/Account/UpdateProfile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsPathLogin" value="http://qa.activation.macmillanhighered.com/account/logon?target={0}&amp;BaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsPathLogout" value="http://qa.activation.macmillanhighered.com/account/logout?target={0}&amp;BaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsPathGetStarted" value="GetStarted" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsPathUpdateProfile" value="UpdateProfile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MarsPathGetHelp" value="GetHelp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="NovellSSOPublicPathElement" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="UserAdministratorUserId" value="2137" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="SAMLsubDomain" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="scorm_approot" value="http://qa.[company]/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="msmqQue" value="FormatName:Direct=TCP:192.168.78.92\PxEportfolioExportService" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderCertificatePath" value="S:\SAML_MetaData\App_Data\PR\px.bfwpub.com.pfx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderCertificatePassword" value="1@m4N0sC@rmAY3Rw1eN3r" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderCacheDurationMinutes" value="1440" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SsoCookies" value="FedAuth; FedAuth1; FedAuth2; FedAuth3; u; QSSession" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderNameIdAttribute" value="EMail" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderRegistrationUrl" value="http://qa.idp.bfwpub.com/nidp/app/login?id=NamePassForm2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderRedirectManagerUrl" value="http://qa.idp.bfwpub.com/nidp/saml2/idpsend?id=pxpr" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="IdentityProviderCertificateSigningAlgorithm" value="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SessionCookieExpiresHours" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="UseWIF" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="GetAgilixUsersFromRa" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="eComActivationCode" value="http://qa.activation.macmillanhighered.com/Account/ActivationCode?target={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- RA Shopping Cart -->
		<add key="ecomPurchaseAccess" value="http://qsg.bcs.bfwpub.com/BFWGlobal/PXPurchase/Purchase.asp?baseurl={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ecomTrialAccess" value="http://qsg.bcs.bfwpub.com/BFWGlobal/PXPurchase/TrialAccess.asp?baseurl={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="ecomRequestAccess" value="http://qsg.bcs.bfwpub.com/iLogin22/Login/LoginBCS.aspx?isbn={0}&amp;returl={1}?v=1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="GetUserProfile" value="http://qa.coresvcs.bfwpub.com/profile/v1/getuserprofile?RAIds=|GET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SetUserProfileImage" value="http://qa.coresvcs.bfwpub.com/profile/v1/setuserprofileimage?|PUT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SetUserEmailandName" value="http://qa.coresvcs.bfwpub.com/profile/v1/setuseremailandname?|POST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="AuthenticateUser" value="http://qa.coresvcs.bfwpub.com/Profile/v1/authenticateuser" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="GetAccessLevelByBaseUrl" value="http://qa.coresvcs.bfwpub.com/Entitlement/v1/getaccesslevelbybaseurl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="GetSiteListByBaseUrl" value="http://qa.coresvcs.bfwpub.com/Entitlement/v1/GetSiteListByBaseUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
		<add key="learningCurveDomain" value="http://stg-learningcurve.bfwpub.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
		<add key="LoginMethod" value="mars" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<!-- iLogin urls -->
		<add key="OnyxSchoolCitySearch" value="http://qsg.bcs.bfwpub.com/iLogin22/Order/RAAccess.asmx/OnyxSchoolCitySearch?|GET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="OnyxSchoolRadiusSearch" value="http://qsg.bcs.bfwpub.com/iLogin22/Order/RAAccess.asmx/OnyxSchoolRadiusSearch?|GET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>

	<agilixSessionManager xdt:Transform="Replace">
		<dlapConnection url="http://qa.dlap.bfwpub.com/dlap.ashx" cookiename="AZT" compress="true" secretkey="magic" allowasync="true" />
		<bhConnection url="http://{1}.bhqa.brainhoney.bfwpub.com/BrainHoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.bhqa.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain="" cookiename="BHAUTH" allowResumeSession="true" />
		<annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123" />
		<admin id="7" username="root/pxmigration" password="Px-Migration-123" />
	</agilixSessionManager>

	<pxCacheManager
			cacheLocation="S:\PxCache\"
			cacheDuration="60"
			cacheMetaExtension="meta"
			cacheContentExtension="cont"
      proxyCacheEnabled="true"
      objectCacheEnabled="true"
			xdt:Transform="SetAttributes" />

	<connectionStrings>
		<add
			name="Bfw.PX.Comments.Data.Properties.Settings.PX_CommentsConnectionString"
			connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXData_QA;User ID=pxuser;Password=m@gikM1ssl3"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes"
			xdt:Locator="Match(name)" />
		<add
			name="PXData"
			connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXData_QA;User ID=pxuser;Password=m@gikM1ssl3"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes"
			xdt:Locator="Match(name)" />
		<add
			name="PXTaxonomy"
			connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXTaxonomy_QA;User ID=pxuser;Password=m@gikM1ssl3"
			providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
		<add
			name="ApplicationServices"
			connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
			providerName="System.Data.SqlClient"
			xdt:Transform="SetAttributes"
			xdt:Locator="Match(name)" />
		<add name="MARSData"
		  connectionString="data source=db27.hbpna.com;Initial Catalog=MARSDataQA;User ID=pxuser;Password=m@gikM1ssl3"
		  providerName="System.Data.SqlClient"
		  xdt:Transform="SetAttributes"
				  xdt:Locator="Match(name)" />
	</connectionStrings>


	<loggingConfiguration name="" tracingEnabled="false" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
		<listeners>
			<add
						name="Rolling Flat File Trace Listener"
						type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
						listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
						formatter="Text Formatter"
						rollSizeKB="2097152"
						traceOutputOptions="DateTime, Timestamp, Callstack"
						fileName="S:\PxLogs\px.log"
						timeStampPattern="yyyy-MM-dd_HH-mm"
						rollFileExistsBehavior="Overwrite"
						xdt:Transform="SetAttributes"
						xdt:Locator="Match(name)" />
		</listeners>
	</loggingConfiguration>


	<system.webServer>
		<!-- IIS MIME TYPES -->
		<staticContent>
			<mimeMap fileExtension=".tff" mimeType="application/x-font-tff"/>
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
		</staticContent>
	</system.webServer>

	<system.serviceModel>
		<client xdt:Transform="Replace">
			<endpoint address="http://qsg.raws.bfwpub.com/RAWS3/RAGetSiteUserData/GetSiteUserData.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetSiteUserDataSoap"	contract="RAWS.GetSiteUserData.RAGetSiteUserDataSoap" name="RAGetSiteUserDataSoap" />
			<endpoint address="http://qsg.raws.bfwpub.com/RAWS3/RAGetCourseSiteID/RAGetCourseSiteID.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetAgilixCourseIDSoap1" contract="RAWS.GetCourseSiteID.RAGetAgilixCourseIDSoap" name="RAGetAgilixCourseIDSoap1" />
		</client>
	</system.serviceModel>

	<applicationSettings xdt:Transform="Replace">
		<Bfw.PX.Biz.Direct.Services.Properties.Settings>
			<setting name="Bfw_PX_Biz_Direct_Services_RA_CheckUsername_RACheckUsername"	serializeAs="String">
				<value>http://qa.bfwpub.com/BFWglobal/_tempRaws3/CheckUserName/RACheckUserName.asmx</value>
			</setting>
			<setting name="Bfw_PX_Biz_Direct_Services_RA_StudentRegistration_RAStudentRegistration"	serializeAs="String">
				<value>http://qa.bfwpub.com/BFWglobal/_tempRaws3/StudentRegistration/RAStudentRegistration.asmx</value>
			</setting>
			<setting name="Bfw_PX_Biz_Direct_Services_RA_EnterActivationCode_RAEnterActivationCode"	serializeAs="String">
				<value>http://qa.bfwpub.com/BFWglobal/_tempRaws3/EnterActivationCode/RAEnterActivationCode.asmx</value>
			</setting>
		</Bfw.PX.Biz.Direct.Services.Properties.Settings>
	</applicationSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
	</system.web>
	
</configuration>