<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <dataCacheClient channelOpenTimeout="0" xdt:Transform="Replace">
    <securityProperties mode="None" protectionLevel="None" />
    <hosts>
      <host name="hbpxafab01.hbpna.com" cachePort="22233" />
      <host name="hbpxafab02.hbpna.com" cachePort="22233" />
      <host name="hbpxafab03.hbpna.com" cachePort="22233" />
    </hosts>
  </dataCacheClient>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Bfw.PX.Biz.Direct.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" xdt:Transform="Replace" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="Configuration" value="DEV_PROD_REFRESH" xdt:Transform="Insert"/>
		<add key="GetUserPackages" value="http://coresvcs.bfwpub.com/Entitlement/v1/GetPackageSiteList?|GET"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="CheckAndCreateAgilixDomain" value="http://coresvcs.bfwpub.com/Entitlement/v1/CheckAndCreateAgilixDomain?|POST"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		<add key="NewRelic.AppName" value="Platform-X PROD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="AppDomainUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="DocumentSourceUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="limelightUrl" value="http://www.[SetBasedOnDomain]/externals/pxproxy-origin/Highlight/ProxyPage" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="PxHTSEditorUrl" value="http://www.[company]/hts" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="ExternalResourceBaseUrl" value="/BrainHoney/Resource" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="EnvironmentUrl" value="/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="ProxyUrl" value="/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="ComponentBaseUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="RABaseUrl" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="RAStudentActivationCode" value="47u-6ug-82r7dv88" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="RAgProxyDomain" value="http://int-bcs.bfwpub.com" xdt:Transform="Remove" xdt:Locator="Match(key)" />
			<add key="BrainHoneyAuthUrl" value="/brainhoney/Controls/CredentialsUI.ashx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="BrainHoneyUrl" value="http://pxmigration.brainhoney.bfwpub.com/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MacVideoBaseUrl" value="http://brightcove.bfwpub.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="DevUrl" value="http://www.bfwpub.com/BFWglobal/PxHTSEditor" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="LearningCurveUrl" value="http://www.bfwpub.com/BFWglobal/PxLearningCurve/Player/Play" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="xUrlPrefix" value="http://root.brainhoney.bfwpub.com/PxMigrationFiles/Course_Files/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />      
      <add key="MarsUrlBasePublic" value="/AccountRequest/{0}/?platform={1}&amp;target={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsUrlBaseSecure" value="/Account/{0}/?platform={1}&amp;target={2}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsUrlPlatformValue" value="PX" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsProfile" value="http://activation.macmillanhighered.com/Account/UpdateProfile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathLogin" value="http://activation.macmillanhighered.com/account/logon?target={0}&amp;BaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathLogout" value="http://activation.macmillanhighered.com/account/logout?target={0}&amp;BaseUrl={1}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathGetStarted" value="GetStarted" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathUpdateProfile" value="UpdateProfile" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="MarsPathGetHelp" value="GetHelp" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="NovellSSOPublicPathElement" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="AutoEnrollStudents" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="SAMLsubDomain" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="BHCookieClearURL" value="[domain].bh.whfreeman.com/brainhoney/logout.html" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="scorm_approot" value="http://www.[company]/brainhoney" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="GetUserProfile" value="https://coresvcs.bfwpub.com/profile/v1/getuserprofile?RAIds=|GET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="SetUserProfileImage" value="https://coresvcs.bfwpub.com/profile/v1/setuserprofileimage?|PUT" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="SetUserEmailandName" value="https://coresvcs.bfwpub.com/profile/v1/setuseremailandname?|POST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="AuthenticateUser" value="http://coresvcs.bfwpub.com/Profile/v1/authenticateuser" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="GetAccessLevelByBaseUrl" value="http://coresvcs.bfwpub.com/Entitlement/v1/getaccesslevelbybaseurl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="GetSiteListByBaseUrl" value="http://coresvcs.bfwpub.com/Entitlement/v1/GetSiteListByBaseUrl" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="IdentityProviderCertificatePath" value="S:\SAML_MetaData\App_Data\PROD\px.bfwpub.com.pfx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="IdentityProviderCertificatePassword" value="1@m4N0sC@rmAY3Rw1eN3r" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="UseWIF" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="GetAgilixUsersFromRa" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="eComActivationCode" value="http://activation.macmillanhighered.com/Account/ActivationCode?target={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <!-- RA Shopping Cart -->
      <add key="ecomPurchaseAccess" value="http://bcs.bfwpub.com/BFWGlobal/PXPurchase/Purchase.asp?baseurl={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
      <add key="ecomTrialAccess" value="http://bcs.bfwpub.com/BFWGlobal/PXPurchase/TrialAccess.asp?baseurl={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>      
      <add key="ecomRequestAccess" value="http://bcs.bfwpub.com/iLogin22/Login/LoginBCS.aspx?isbn={0}&amp;returl={1}?v=1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
      <add key="learningCurveDomain" value="http://learningcurve.bfwpub.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
      <add key="LoginMethod" value="mars" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<!-- iLogin urls -->
			<add key="OnyxSchoolCitySearch" value="http://bcs.bfwpub.com/iLogin22/Order/RAAccess.asmx/OnyxSchoolCitySearch?|GET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
			<add key="OnyxSchoolRadiusSearch" value="http://bcs.bfwpub.com/iLogin22/Order/RAAccess.asmx/OnyxSchoolRadiusSearch?|GET" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

		</appSettings>
		
		<pxCacheManager
			cacheLocation="S:\PxCache\" 
			cacheDuration="60" 
			cacheMetaExtension="meta" 
			cacheContentExtension="cont"
      proxyCacheEnabled="true" 
      objectCacheEnabled="true"
			xdt:Transform="SetAttributes" />

    <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
      <alias alias="AutoEnrollmentActions" type="Bfw.PX.Biz.Direct.Services.DisableAutoEnrollmentActions, Bfw.PX.Biz.Direct.Services" xdt:Transform="SetAttributes" xdt:Locator="Match(alias)"/>
    </unity>

    <agilixSessionManager xdt:Transform="Replace">
      <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" compress="true"  secretkey="magic" cookiename="AZT" allowasync="true"></dlapConnection>
      <bhConnection url="http://{1}.brainhoney.bfwpub.com/brainhoney/Controls/CredentialsUI.ashx" baseurl="http://pxmigration.brainhoney.bfwpub.com/BrainHoney" userDomain="pxmigration" cookieDomain=""  cookiename="BHAUTH" allowResumeSession="true" />
      <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"></annonymous>
      <admin id="7" username="root/pxmigration" password="Px-Migration-123"></admin>
    </agilixSessionManager>

		<connectionStrings>
			<add 
				name="Bfw.PX.Comments.Data.Properties.Settings.PX_CommentsConnectionString"
				connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3"
				providerName="System.Data.SqlClient"
				xdt:Transform="SetAttributes"
				xdt:Locator="Match(name)" />
			<add 
				name="PXData"
				connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXData;User ID=pxuser;Password=m@gikM1ssl3"
				providerName="System.Data.SqlClient" 
				xdt:Transform="SetAttributes" 
				xdt:Locator="Match(name)" />
			<add 
				name="PXTaxonomy"
				connectionString="Data Source=db27.hbpna.com;Initial Catalog=PXTaxonomy;User ID=pxuser;Password=m@gikM1ssl3"
				providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
			<add 
				name="ApplicationServices" 
				connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" 
				providerName="System.Data.SqlClient" 
				xdt:Transform="SetAttributes" 
				xdt:Locator="Match(name)" />
      <add name="MARSData"
        connectionString="data source=db27.hbpna.com;Initial Catalog=MARSData;User ID=pxuser;Password=m@gikM1ssl3"
        providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes"
				xdt:Locator="Match(name)" />
		</connectionStrings>
		
		<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
			<listeners>
				<add 
					name="Rolling Flat File Trace Listener" 
					type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" 
					listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" 
					formatter="Text Formatter" 
					rollSizeKB="1024" 
					traceOutputOptions="DateTime, Timestamp, Callstack" 
					fileName="S:\PxLogs\px.log" 
					timeStampPattern="yyyy-MM-dd_HH-mm"
					rollFileExistsBehavior="Increment" 
					xdt:Transform="SetAttributes" 
					xdt:Locator="Match(name)" />
			</listeners>
		</loggingConfiguration>
		
		<system.serviceModel>
			<client xdt:Transform="Replace">
				<endpoint address="http://raws.bfwpub.com/RAWS3/RAGetSiteUserData/GetSiteUserData.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetSiteUserDataSoap"	contract="RAWS.GetSiteUserData.RAGetSiteUserDataSoap" name="RAGetSiteUserDataSoap" />
				<endpoint address="http://raws.bfwpub.com/RAWS3/RAGetCourseSiteID/RAGetCourseSiteID.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetAgilixCourseIDSoap1" contract="RAWS.GetCourseSiteID.RAGetAgilixCourseIDSoap" name="RAGetAgilixCourseIDSoap1" />
			</client>
		</system.serviceModel>
		
		<applicationSettings xdt:Transform="Replace">
			<Bfw.PX.Biz.Direct.Services.Properties.Settings>
				<setting name="Bfw_PX_Biz_Direct_Services_RA_CheckUsername_RACheckUsername"	serializeAs="String">
					<value>http://www.bfwpub.com/BFWglobal/_tempRaws3/CheckUserName/RACheckUserName.asmx</value>
				</setting>
				<setting name="Bfw_PX_Biz_Direct_Services_RA_StudentRegistration_RAStudentRegistration" serializeAs="String">
					<value>http://www.bfwpub.com/BFWglobal/_tempRaws3/StudentRegistration/RAStudentRegistration.asmx</value>
				</setting>
				<setting name="Bfw_PX_Biz_Direct_Services_RA_EnterActivationCode_RAEnterActivationCode"	serializeAs="String">
					<value>http://www.bfwpub.com/BFWglobal/_tempRaws3/EnterActivationCode/RAEnterActivationCode.asmx</value>
				</setting>
			</Bfw.PX.Biz.Direct.Services.Properties.Settings>
		</applicationSettings>

	 <system.web>
      <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>

    <system.webServer>
      <!-- IIS MIME TYPES -->
      <staticContent>
        <mimeMap fileExtension=".tff" mimeType="application/x-font-tff"/>
        <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      </staticContent>
    </system.webServer>    

</configuration>