<?xml version="1.0"?>
<configuration>
  <configSections>

    <section name="externalDomainMapping" type="Bfw.PX.PXPub.Controllers.Configurations.ExternalDomainMapping, Bfw.PX.PXPub.Controllers" />
  </configSections>
  <externalDomainMapping enable="true">
    <mapping>
      <add from="http://courses.bfwpub.com" to="/externalcontent/courses.bfwpub.com" />
      <add from="http://digfir-published.macmillanusa.com" to="/externalcontent/digfir-published.macmillanusa.com" />
      <add from="http://learningcurve.bfwpub.com" to="/externalcontent/dev-learningcurve.bfwpub.com" />
    </mapping>
  </externalDomainMapping>
  <appSettings>
    <add key="LMSIntegration" value="true"/>
    <add key="MainParentDomain" value="BFWInstitutions"/>
    <add key="institution_force_list" value="8841,54998"/>
    <add key="SendCourseActivationEmail" value="false"/>
    <add key="BfwUsersDomainId" value="8841"/>
    <add key="NewDomainUserspacePrefix" value="onyx"/>
    <add key="NewDomainUserspaceSuffix" value=""/>
    <add key="AuthenticateUser" value="http://dev.coresvcs.bfwpub.com/Profile/v1/authenticateuser"/>
    <add key="UseWIF" value="true"/>
    <add key="LoginMethod" value="mars"/>
    <add key="FaceplateSearchAgainstProductCourse" value="true"/>
    <add key="MarsPathLogin" value="http://dev.activation.macmillanhighered.com/account/logon?target={0}%3FBaseUrl={1}" />
    <add key="learningCurveDomain" value="http://dev-learningcurve.bfwpub.com" />
    
    <!-- eCom urls -->
    <add key="eComActivationCode" value="http://dev.activation.macmillanhighered.com/Account/ActivationCode?target={0}"/>
    <add key="ecomPurchaseAccess" value="http://dev-bcs.bfwpub.com/BFWGlobal/PXPurchase/Purchase.asp?baseurl={0}"/>
    <add key="ecomTrialAccess" value="http://dev-bcs.bfwpub.com/BFWGlobal/PXPurchase/TrialAccess.asp?baseurl={0}"/>
    <add key="ecomRequestAccess" value="http://dev-bcs.bfwpub.com/iLogin22/Login/LoginBCS.aspx?isbn={0}&amp;returl={1}?v=1" />

    <add key="institution_domain_id" value="8842" />
    <add key="institution_force_list" value="8841,54998" />
    <add key="TestBaseURL" value="dev.whfreeman.com/universe9e/lms" />
    <add key="LaunchpadStudentHelpUrl" value="dev.whfreeman.com/universe9e/lms" />

	<add key="scorm_approot" value="http://lcl.[company]/brainhoney" />

    <add key="UseWIF" value="true" />
    <add key="LoginMethod" value="mars" />
    <add key="MarsPathLogout" value="http://dev.activation.macmillanhighered.com/account/logout?target={0}&amp;BaseUrl={1}" />
    <add key="InsecureBaseUrl" value="" />
    <add key="ExcludeCourseSection" value="false" />
      
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
