<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bfw.PX.Comments.Data.Properties.Settings.PX_CommentsConnectionString"
            connectionString="Data Source=VSCONVERSION04\SQLEXPRESS;Initial Catalog=PX_Comments;Integrated Security=True"
            providerName="System.Data.SqlClient" />        
    </connectionStrings>
</configuration>