html, body{
    height: auto;
    min-height: 0;
    min-width: 0;
    width: auto;
    background-color:transparent;
    overflow:auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#allcontainers{
   min-width:0;
   min-height:0 !important;
   height:auto;
   margin:0!important;
   padding:0!important;
   overflow:auto;
}

#allcontainers #assignmentsContainer{
    min-width:0;
    min-height:0;
    margin:0!important;
}
#allcontainers #assignmentContent{
    margin:10px;
    top:0;
}
#allcontainers #assignmentContent div#assignmentLeft
{
    border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
}
#allcontainers #assignmentContent
#allcontainers #assignmentLeft,
#allcontainers #assignmentRight{
    bottom:20px;
}
#xbookContentContainer #itemPlayerWrapper {
    height: auto;
    min-height: 0;
}

#itemPlayerComponent{
    height:auto;
}

module-background-bsi__5C3C85A5__FBF8__45EF__8288__94B11C97F538{
    Background:#76ACA2; 
}
chapter-outline-bsi__18CBBB0E__3C81__486B__BBF0__34A933B51F7F{
    border:2px solid #76ACA2;
}
#profLinks{
    width:188px;
}
#profLinks ul{
    height:214px;
    overflow-y:auto;
}
#profLinks li{
    margin-bottom:0;
    padding:8px 0;
}
#xbookContentContainer .bh.asset-player.content {
    height: auto;
}
#xbookContentContainer iframe{
    overflow:hidden;
}
/* Start TOC Styling */ 


/* Notes Scrolling Positioning */ 
#document-body{
    float:none;
    width: auto;
}

#fne-window #highlight-container {
    width:auto;
    min-width: 0;
    z-index: 5000;
    top: 1% !important;
    position: absolute;
    background: transparent;
    display: block;
    float: left;
    left: 73%;
}

#highlightList {
    position: relative;
    bottom:0;
}

/* Edit Course link styling */ 

#profLinks #profEditLink a {
    color: #1B8A95 !important;
    font-size:12px;
    margin-top:4px;
    font-family: helvetica,Trebuchet MS,sans-serif;
    background:none;
    padding:0;
    text-decoration:underline;
}

/* Deleting iframe Main content header */

div#itemPlayerHeader{
    display:none;
}

.borderWithRightMargin {
    display: none;
}

#eLibrary {
    display:none;
}

div.bh .player {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    overflow: auto;
    right: auto;
    width:auto;
}

#allcontainers #bookContent {
    left: 0;
    bottom: 25px;
    top: 0;
    right: 0;
    margin:auto;
    position:relative;
 }

#allcontainers.footer-visible #bookContent {
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
 
.item-action-bar {
     display: none;
}

div#rightBookContainer{
    height:auto;
}
/* For Scrolling in the Content area Iframe */ 

#allcontainers .document-viewer-frame-host,
#allcontainers .document-body,
#allcontainers .document-viewer,
#allcontainers .content,
#allcontainers .contentwrapper,
#allcontainers .fne-window-basic,
#allcontainers .asset-player > div,
#allcontainers .asset-player{
    float: none;
    width:auto;
    overflow:auto;
}

#allcontainers .document-body,
#allcontainers  .asset-player {
    width: auto;
    overflow:auto;
}

/*end*/ 