<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>

    <appSettings>
      <add key="NovellSSO_LogoutURL" value="http://sb.bfwpub.com/nesp/jsp/AGLogoutRedirect.jsp?target=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    </appSettings>

    <agilixSessionManager xdt:Transform="Replace">
      <dlapConnection url="http://dlap.bfwpub.com/dlap.ashx" compress="true"></dlapConnection>
      <bhConnection url="http://root.brainhoney.bfwpub.com/brainhoney/Controls/CredentialsUI.ashx" userDomain="pxmigration" cookieDomain=".bfwpub.com" allowResumeSession="false"/>
      <annonymous id="13" username="pxmigration/anonymous" password="Px-Anon-123"></annonymous>
      <admin id="7" username="root/pxmigration" password="Px-Migration-123"></admin>
    </agilixSessionManager>

    <system.serviceModel>
      <client xdt:Transform="Replace">
        <endpoint address="http://raws.bfwpub.com/RAWS3/RAGetSiteUserData/GetSiteUserData.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetSiteUserDataSoap"	contract="RAWS.GetSiteUserData.RAGetSiteUserDataSoap" name="RAGetSiteUserDataSoap" />
        <endpoint address="http://raws.bfwpub.com/RAWS3/RAGetCourseSiteID/RAGetCourseSiteID.asmx" binding="basicHttpBinding" bindingConfiguration="RAGetAgilixCourseIDSoap1" contract="RAWS.GetCourseSiteID.RAGetAgilixCourseIDSoap" name="RAGetAgilixCourseIDSoap1" />
      </client>
    </system.serviceModel>
  </location>
</configuration>