@model Macmillan.PXQBA.Web.ViewModels.Pages.QuestionListViewModel

@{
    ViewBag.Title = "Question List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<div id="question-container"> </div>


@section scripts
{
    @*
     extract this in view
    *@
    
    <script>
        window.questionPageParameters = {
           currentCourseId: '@Model.CourseId',
           currentChapterId:'@Model.ChapterId',
        };
    </script>

    <script src="../../Scripts/app/components/common/modalDialog.js"></script>
    <script src="../../Scripts/app/components/common/loader.js"></script>
    <script src="../../Scripts/app/components/common/expandButton.js"></script>
    <script src="../../Scripts/app/components/common/singleSelectButton.js"></script>

    <script src="../../Scripts/app/async/asyncManager.js"></script>

    <script src="../../Scripts/app/components/questions/questionCellMenu.js"></script>
    <script src="../../Scripts/app/components/questions/questionInlineEditorSingleSelect.js"></script>
    <script src="../../Scripts/app/components/questions/questionInlineEditorNumber.js"></script>
    <script src="../../Scripts/app/components/questions/questionInlineEditorText.js"></script>
    <script src="../../Scripts/app/components/questions/questionInlineEditorBase.js"></script>
    <script src="../../Scripts/app/components/questions/questionNoDataStub.js"></script>
    <script src="../../Scripts/app/components/questions/questionBulkOperationSetStatus.js"></script>
    <script src="../../Scripts/app/components/questions/questionBulkOperationBar.js"></script>
    <script src="../../Scripts/app/components/questions/questionMetadataList.js"></script>
    <script src="../../Scripts/app/dataAccess/questionFilterDataManager.js"></script>
    <script src="../../Scripts/app/routes/filterItem.js"></script>
    <script src="../../Scripts/app/routes/columnHashParameterHelper.js"> </script>
    <script src="../../Scripts/app/routes/filterHashParameterHelper.js"></script>
    <script src="../../Scripts/app/components/questions/questionCell.js"></script>
    <script src="../../Scripts/app/dataAccess/questionDataManager.js"></script>
    <script src="../../Scripts/app/components/questions/questionListColumnAppender.js"></script>
    <script src="../../Scripts/app/components/questions/question.js"></script>
    <script src="../../Scripts/app/components/questions/questionPaginator.js"></script>
    <script src="../../Scripts/app/components/questions/questionListHeaderCellOrdering.js"></script>
    <script src="../../Scripts/app/components/questions/questionListHeaderCell.js"></script>
    <script src="../../Scripts/app/components/questions/questionList.js"></script>

    <script src="../../Scripts/app/components/questions/filter/questionFilterItemsAppender.js"></script>
    <script src="../../Scripts/app/components/questions/filter/questionFilterSingleSelect.js"></script>
    <script src="../../Scripts/app/components/questions/filter/questionFilterItemMultiSelect.js"></script>
    <script src="../../Scripts/app/components/questions/filter/questionFilterItemBase.js"></script>
    <script src="../../Scripts/app/components/questions/filter/questionFilterItemsContainer.js"></script>
    <script src="../../Scripts/app/components/questions/filter/questionFilter.js"></script>

    <script src="../../Scripts/app/components/questions/questionListHeader.js"></script>
    <script src="../../Scripts/app/components/questions/questionListMenu.js"></script>
    <script src="../../Scripts/app/components/questions/questionTypeList.js"></script>
    <script src="../../Scripts/app/components/questions/questionTypeDialog.js"></script>
    <script src="../../Scripts/app/components/questions/questionListPage.js"></script>
    <script src="../../Scripts/app/components/questions/questionGrid.js"></script>
    <script src="../../Scripts/app/components/questions/questionTabs.js"></script>
    <script src="../../Scripts/app/components/questions/questionPreview.js"></script>
    <script src="../../Scripts/app/components/questions/questionShareDialog.js"></script>

    <script src="../../Scripts/app/routes/routeItem.js"></script>
    <script src="../../Scripts/app/routes/routeManager.js"></script>
    <script src="../../Scripts/app/routes/router.js"></script>

    <script src="../../Scripts/app/components/questions/notes/editQuestionNotesDialog.js"></script>
    <script src="../../Scripts/app/components/questions/notes/flag.js"></script>
    <script src="../../Scripts/app/components/questions/notes/note.js"></script>
    <script src="../../Scripts/app/components/questions/notes/noteBox.js"></script>
    <script src="../../Scripts/app/components/questions/notes/noteForm.js"></script>
    <script src="../../Scripts/app/components/questions/notes/noteList.js"></script>    


    <script src="../../Scripts/app/components/questions/editor/questionEditor.js"></script>
    <script src="../../Scripts/app/components/questions/editor/learningObjectEditor.js"></script>
    <script src="../../Scripts/app/components/questions/editor/shareMetadataEditorRow.js"></script>
    <script src="../../Scripts/app/components/questions/editor/metadataFieldEditor.js"></script>  
    <script src="../../Scripts/app/components/questions/editor/multiSelectEditor.js"></script>
    <script src="../../Scripts/app/components/questions/editor/questionEditorDialog.js"></script>
    <script src="../../Scripts/app/components/questions/editor/questionEditorTabs.js"></script>
    <script src="../../Scripts/app/components/questions/editor/questionMetadataEditor.js"></script>
    <script src="../../Scripts/app/components/questions/editor/overideControls.js"></script>
    

   
}
