@using dotless.Core.Parser.Tree

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question list page</h2>

<div id="question-container"> </div>

@section scripts
{
    @*
     extract this in view
    *@
    <script src="../../Scripts/app/dataAccess/questionDataManager.js"></script>
    <script src="../../Scripts/app/components/questions/question.js"></script>
    <script src="../../Scripts/app/components/questions/questionPaginator.js"></script>
    <script src="../../Scripts/app/components/questions/questionList.js"></script>
    <script src="../../Scripts/app/components/questions/questionFilter.js"></script>
    <script src="../../Scripts/app/components/questions/questionListPage.js"></script>
    <script src="../../Scripts/app/routes/router.js"></script>
}
